flows_ip-172-31-44-89.json
[{"id":"83ebaf72.4b7c8","type":"tab","label":"Meraki CMX Workflow"},{"id":"a3e5946c.fcef78","type":"tab","label":"Meraki CMX Google Map"},{"id":"19daec9d.f73d83","type":"tab","label":"Meraki ExCap Splash Page"},{"id":"e400d927.2d99f8","type":"meraki-cmx-settings","z":"83ebaf72.4b7c8","name":""},{"id":"2558b4c5.16cc7c","type":"mongodb2","z":"a3e5946c.fcef78","uri":"mongodb://localhost:27017/test","name":"test","options":"","parallelism":"-1"},{"id":"77fe87a3.b4f6f8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"35e1c5ed.44bbba","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/test","name":"test","options":"","parallelism":"-1"},{"id":"5cecdc19.2f91a4","type":"switch","z":"83ebaf72.4b7c8","name":"Search Clients","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Apple","vt":"str"},{"t":"cont","v":"00:26:ab:b8:a9:a5","vt":"str"}],"checkall":"true","outputs":2,"x":131,"y":360,"wires":[["ee534c40.0fbea"],["b7960f57.66e31"]]},{"id":"6c276c26.4aa184","type":"debug","z":"83ebaf72.4b7c8","name":"Apple Device Found!","active":true,"console":"false","complete":"payload","x":611,"y":360,"wires":[]},{"id":"ee534c40.0fbea","type":"function","z":"83ebaf72.4b7c8","name":"Apple device found!","func":"msg.payload = \"Apple device found!\"\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":360,"wires":[["6c276c26.4aa184"]]},{"id":"b7960f57.66e31","type":"trigger","z":"83ebaf72.4b7c8","op1":"Welcome Back!","op2":"We miss you :(","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","name":"Welcome Back / We Miss You","x":321,"y":420,"wires":[["846f6367.9720e"]]},{"id":"846f6367.9720e","type":"debug","z":"83ebaf72.4b7c8","name":"CMX Message","active":true,"console":"false","complete":"payload","x":631,"y":420,"wires":[]},{"id":"666934b6.ac0e3c","type":"inject","z":"83ebaf72.4b7c8","name":"View Logs","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":91,"y":900,"wires":[["8300e46b.3a6c98"]]},{"id":"bc4d78ab.c42828","type":"debug","z":"83ebaf72.4b7c8","name":"CMX MongoDB Logs","active":true,"console":"false","complete":"payload","x":640,"y":900,"wires":[]},{"id":"b50dc33c.affe7","type":"debug","z":"83ebaf72.4b7c8","name":"CMX Validator","active":true,"console":"false","complete":"validator","x":631,"y":160,"wires":[]},{"id":"44e8c29a.62bbec","type":"debug","z":"83ebaf72.4b7c8","name":"CMX Data","active":true,"console":"false","complete":"payload","x":641,"y":120,"wires":[]},{"id":"3aed12d0.a1cd7e","type":"Meraki CMX","z":"83ebaf72.4b7c8","name":"","url":"/cmx","settings":"e400d927.2d99f8","x":70,"y":120,"wires":[["b50dc33c.affe7","44e8c29a.62bbec","7ece60c5.1755"]]},{"id":"737df104.30182","type":"json","z":"83ebaf72.4b7c8","name":"Convert JSON object to string, for basic searching","x":281,"y":320,"wires":[["5cecdc19.2f91a4"]]},{"id":"4705241d.1b5e7c","type":"debug","z":"83ebaf72.4b7c8","name":"cmx via link","active":true,"console":"false","complete":"payload","x":670,"y":780,"wires":[]},{"id":"7ece60c5.1755","type":"link out","z":"83ebaf72.4b7c8","name":"cmx","links":["8717675e.d304d8","fb865ef7.4a56f","6be17c9.c750084","7a17db2d.f45ce4","9de14615.951138"],"x":686,"y":200,"wires":[]},{"id":"8717675e.d304d8","type":"link in","z":"83ebaf72.4b7c8","name":"","links":["7ece60c5.1755"],"x":46,"y":780,"wires":[["4705241d.1b5e7c","46ee6638.6579e8"]]},{"id":"e145c329.5b8ee","type":"http in","z":"83ebaf72.4b7c8","name":"","url":"/cmxdata","method":"get","swaggerDoc":"","x":101,"y":1060,"wires":[["545dff5.04cb4"]]},{"id":"870167ca.3c56a8","type":"http response","z":"83ebaf72.4b7c8","name":"","x":690,"y":1060,"wires":[]},{"id":"c3813e65.f30fc","type":"comment","z":"83ebaf72.4b7c8","name":"Store and View Data","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":101,"y":740,"wires":[]},{"id":"25335afe.5f0476","type":"comment","z":"83ebaf72.4b7c8","name":"CMX Basic Flow - README","info":"This flow demonstrates how to use the Meraki CMX node.\n\nConfigure the CMX node with your URL & credentials\n\nThe server will start listening on the same port\nas Node-RED but will receive data on the \nURL configured\n\n# Example\nhttp://yourserver:1880/cmx\n\n# View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\nWritten by \nCory Guynn\nhttp://www.InternetOfLEGO.com\n\n\n","x":391,"y":20,"wires":[]},{"id":"fb865ef7.4a56f","type":"link in","z":"83ebaf72.4b7c8","name":"","links":["7ece60c5.1755"],"x":46,"y":320,"wires":[["737df104.30182"]]},{"id":"a5ce65aa.2a2628","type":"comment","z":"83ebaf72.4b7c8","name":"Workflow Examples","info":"","x":101,"y":220,"wires":[]},{"id":"6be17c9.c750084","type":"link in","z":"83ebaf72.4b7c8","name":"","links":["7ece60c5.1755"],"x":46,"y":520,"wires":[["6627e806.cd9fb8","165271ed.574c3e","b80bc7c.e402a38","5a0f5adc.cca5c4","2276f930.0de826"]]},{"id":"6627e806.cd9fb8","type":"change","z":"83ebaf72.4b7c8","name":"payload.data.apMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.apMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":231,"y":520,"wires":[["956f4763.295e18"]]},{"id":"956f4763.295e18","type":"debug","z":"83ebaf72.4b7c8","name":"apMac","active":true,"console":"false","complete":"payload","x":661,"y":520,"wires":[]},{"id":"165271ed.574c3e","type":"change","z":"83ebaf72.4b7c8","name":"payload.data.observations[0].clientMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[0].clientMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":291,"y":560,"wires":[["56068f9f.47217"]]},{"id":"56068f9f.47217","type":"debug","z":"83ebaf72.4b7c8","name":"observation[0] - clientMac","active":true,"console":"false","complete":"payload","x":601,"y":560,"wires":[]},{"id":"b80bc7c.e402a38","type":"change","z":"83ebaf72.4b7c8","name":"payload.data.observations[1].clientMac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[1].clientMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":291,"y":640,"wires":[["ee814778.245088"]]},{"id":"ee814778.245088","type":"debug","z":"83ebaf72.4b7c8","name":"observation[1] - clientMac","active":true,"console":"false","complete":"payload","x":601,"y":640,"wires":[]},{"id":"5a0f5adc.cca5c4","type":"change","z":"83ebaf72.4b7c8","name":"payload.data.observations[0].location","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[0].location","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":281,"y":600,"wires":[["2a62d9c0.662fb6"]]},{"id":"2276f930.0de826","type":"change","z":"83ebaf72.4b7c8","name":"payload.data.observations[1].location","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.observations[1].clientMac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":281,"y":680,"wires":[["c456186b.7a7f28"]]},{"id":"2a62d9c0.662fb6","type":"debug","z":"83ebaf72.4b7c8","name":"observation[0] - location","active":true,"console":"false","complete":"payload","x":601,"y":600,"wires":[]},{"id":"c456186b.7a7f28","type":"debug","z":"83ebaf72.4b7c8","name":"observation[1] - location","active":true,"console":"false","complete":"payload","x":601,"y":680,"wires":[]},{"id":"5e5b9f72.3fedc","type":"comment","z":"83ebaf72.4b7c8","name":"Search JSON as a string","info":"","x":141,"y":260,"wires":[]},{"id":"8de78221.ee3d2","type":"comment","z":"83ebaf72.4b7c8","name":"Search JSON as an object","info":"","x":141,"y":480,"wires":[]},{"id":"8d7840c4.c62b9","type":"comment","z":"83ebaf72.4b7c8","name":"Log File","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":81,"y":840,"wires":[]},{"id":"a7d1472e.b95b48","type":"comment","z":"83ebaf72.4b7c8","name":"REST API client interface","info":"View the logs by going to\nhttp://yourserver:1880/cmxdata\n\nUse PostMan as a quick way to see the \ndata in JSON pretty format\n\n","x":141,"y":1020,"wires":[]},{"id":"9f15c54b.fd6a98","type":"comment","z":"83ebaf72.4b7c8","name":"CMX Listener","info":"","x":81,"y":80,"wires":[]},{"id":"87f8a400.dc43d8","type":"http in","z":"a3e5946c.fcef78","name":"","url":"/clients","method":"get","swaggerDoc":"","x":95,"y":520,"wires":[["161c0a66.80b646"]]},{"id":"31dcd69f.15f79a","type":"http in","z":"a3e5946c.fcef78","name":"","url":"/clients/:mac","method":"get","swaggerDoc":"","x":115,"y":600,"wires":[["fb550a71.8dc5e8"]]},{"id":"c1780251.d1938","type":"mongodb2 in","z":"a3e5946c.fcef78","service":"_ext_","configNode":"2558b4c5.16cc7c","name":"","collection":"cmxmapapi","operation":"findOne","x":375,"y":720,"wires":[["39db027a.7bf11e","8c04059.c0f34f8"]]},{"id":"63691b5d.f59e54","type":"mongodb2 in","z":"a3e5946c.fcef78","service":"_ext_","configNode":"2558b4c5.16cc7c","name":"","collection":"cmxmapapi","operation":"find.toArray","x":485,"y":520,"wires":[["2d642b7a.ac5d84","8a69b9f7.ee2f08"]]},{"id":"5ca49b04.710594","type":"debug","z":"a3e5946c.fcef78","name":"/clients/:mac","active":false,"console":"false","complete":"payload","x":695,"y":600,"wires":[]},{"id":"39db027a.7bf11e","type":"debug","z":"a3e5946c.fcef78","name":"/clients/:mac - mongodb","active":false,"console":"false","complete":"payload","x":655,"y":760,"wires":[]},{"id":"8c04059.c0f34f8","type":"http response","z":"a3e5946c.fcef78","name":"","x":715,"y":720,"wires":[]},{"id":"2d642b7a.ac5d84","type":"http response","z":"a3e5946c.fcef78","name":"","x":715,"y":520,"wires":[]},{"id":"fb550a71.8dc5e8","type":"function","z":"a3e5946c.fcef78","name":"msg.payload=msg.req.params.mac;","func":"//extract mac\nmsg.payload=msg.req.params.mac;\nreturn msg;\n","outputs":1,"noerr":0,"x":415,"y":600,"wires":[["5ca49b04.710594","11785eff.840621"]]},{"id":"5f1cd6de.36e168","type":"comment","z":"a3e5946c.fcef78","name":"Log data","info":"","x":125,"y":240,"wires":[]},{"id":"a8491f2f.83fb9","type":"function","z":"a3e5946c.fcef78","name":"build operation parameters: filter, update","func":"// This function updates/creates the client in the database\nvar filter = msg.payload;\nif (\"string\" == typeof filter) {\n  filter = JSON.parse(filter);\n}\n\nmsg.payload = [\n    {'name':msg.payload.name},\n    msg.payload,\n    {upsert:true}\n];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":405,"y":300,"wires":[["1ca92ddc.f71da2"]]},{"id":"1ca92ddc.f71da2","type":"mongodb2 in","z":"a3e5946c.fcef78","service":"_ext_","configNode":"2558b4c5.16cc7c","name":"","collection":"cmxmapapi","operation":"findOneAndUpdate","x":395,"y":340,"wires":[["f8a9b507.a21568"]]},{"id":"f8a9b507.a21568","type":"debug","z":"a3e5946c.fcef78","name":"mongdb insert/update","active":true,"console":"false","complete":"payload","x":665,"y":340,"wires":[]},{"id":"a811588a.143eb8","type":"function","z":"a3e5946c.fcef78","name":"Format Client","func":"// This function extracts the raw CMX data to create a consistent DB entry\nif(msg.payload === null){\n    return null;\n}\nvar map = msg.payload;\nclient = {}; //reset payload object for clarity\n\n\nif (map['version'] != '2.0'){\n    msg.log = \"got post with unexpected version: #{map['version']}\";\n    return msg;\n}else{\n    msg.log = \"working with correct version\";\n}\nif (map['type'] != 'DevicesSeen'){\nmsg.log = \"got post for event that we're not interested in: #{map['type']}\";\nreturn msg;\n}\n\nvar o = map['data']['observations'];\nconsole.log('map.data.apMac = '+map.data['apMac']);\n   for (var c in o){\n    if (o.hasOwnProperty(c)) {\n        //console.log(\"Key is \" + c + \", value is \" + o[c].location.lat);\n        if (!o[c]['location']){continue}\n        client.name = o[c]['clientMac'];\n        client.mac = o[c]['clientMac'];\n        client.lat = o[c]['location']['lat'];\n        client.lng = o[c]['location']['lng'];\n        client.unc = o[c]['location']['unc'];\n        client.seenString = o[c]['seenTime'];\n        client.seenEpoch = o[c]['seenEpoch'];\n        client.floors = map['data']['apFloors'] === null ? \"\" : map['data']['apFloors'].join;\n        client.manufacturer = o[c]['manufacturer'];\n        client.os = o[c]['os'];\n        client.ssid = o[c]['ssid'];\n        client.ap = map['data']['apMac'];\n        msg.log = \"AP #{map['data']['apMac']} on #{map['data']['apFloors']}: #{c}\";\n        if (client.seenEpoch===null || client.seenEpoch === 0){continue}//  # This probe is useless, so ignore it\n        \n    }\n    msg.payload = client;\n    node.send(msg);\n   }\n\n   \nreturn msg;","outputs":1,"noerr":0,"x":325,"y":240,"wires":[["4c10d064.a57e4","7c2e1e0e.371df","a8491f2f.83fb9"]]},{"id":"4c10d064.a57e4","type":"debug","z":"a3e5946c.fcef78","name":"format client","active":true,"console":"false","complete":"payload","x":695,"y":280,"wires":[]},{"id":"88daa344.7f5a9","type":"debug","z":"a3e5946c.fcef78","name":"/cmx3 Raw Data","active":true,"console":"false","complete":"payload","x":675,"y":400,"wires":[]},{"id":"161c0a66.80b646","type":"function","z":"a3e5946c.fcef78","name":"find({})","func":"// Create search for all clients\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":520,"wires":[["63691b5d.f59e54"]]},{"id":"11785eff.840621","type":"function","z":"a3e5946c.fcef78","name":"msg.payload = {'name':msg.payload};","func":"msg.payload = {'name':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":660,"wires":[["c1780251.d1938"]]},{"id":"48a715ab.daab0c","type":"function","z":"a3e5946c.fcef78","name":"CMX Sample Data","func":"msg.payload = {\n    \"version\": \"2.0\",\n    \"secret\": \"supersecret\",\n    \"type\": \"DevicesSeen\",\n    \"data\": {\n        \"apMac\": \"00:18:0a:13:dd:b0\",\n        \"apFloors\": [],\n        \"apTags\": [ \"\", \"home\", \"\" ],\n        \"observations\": [ { \n            \"ipv4\": \"/192.168.0.15\",\n            \"location\": {\n                \"lat\": 51.5355157,\n                \"lng\": -0.06990350000000944,\n                \"unc\": 1.1185886512767726,\n                \"x\": [], \"y\": [] \n                \n            },\n            \"seenTime\": \"2016-07-29T13:17:10Z\",\n            \"ssid\": \".interwebs\",\n            \"os\": \"Debian-based Linux\",\n            \"clientMac\": \"CC:CC:CC:CC:CC:CC\",\n            \"seenEpoch\": 1469798230,\n            \"rssi\": 48,\n            \"ipv6\": null,\n            \"manufacturer\": \"Edimax Technology\" \n            }, \n            { \n            \"ipv4\": null,\n            \"location\": {\n                \"lat\": 51.5133157,\n                \"lng\": -0.06890350000000944,\n                \"unc\": 49, \"x\": [],\n                \"y\": []\n                },\n            \"seenTime\": \"2016-07-29T13:17:07Z\",\n            \"ssid\": \"Hotspot-123\",\n            \"os\": \"fancyOS\",\n            \"clientMac\": \"DD:DD:DD:DD:DD:DD\",\n            \"seenEpoch\": 1469798227,\n            \"rssi\": 9,\n            \"ipv6\": null,\n            \"manufacturer\": \"Samsung(THAILAND)\"\n            }\n        ]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":180,"wires":[["a811588a.143eb8","69f7de71.a7399"]]},{"id":"f4d6f189.c502f","type":"inject","z":"a3e5946c.fcef78","name":"Sample Client C D","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115,"y":180,"wires":[["48a715ab.daab0c"]]},{"id":"69f7de71.a7399","type":"debug","z":"a3e5946c.fcef78","name":"CMX Sample Raw Data","active":true,"console":"false","complete":"payload","x":655,"y":180,"wires":[]},{"id":"7c2e1e0e.371df","type":"debug","z":"a3e5946c.fcef78","name":"format client. info","active":true,"console":"false","complete":"info","x":675,"y":240,"wires":[]},{"id":"f25e5239.b945","type":"mongodb2 in","z":"a3e5946c.fcef78","service":"_ext_","configNode":"2558b4c5.16cc7c","name":"","collection":"cmxmapapi","operation":"find.toArray","x":385,"y":960,"wires":[["6b5e7b54.658e24"]]},{"id":"afec0686.5e2368","type":"inject","z":"a3e5946c.fcef78","name":"List all clients","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":95,"y":960,"wires":[["f25e5239.b945"]]},{"id":"6b5e7b54.658e24","type":"debug","z":"a3e5946c.fcef78","name":"mongo data","active":true,"console":"false","complete":"true","x":695,"y":960,"wires":[]},{"id":"5d50593c.cbd5d8","type":"template","z":"a3e5946c.fcef78","name":"CSS","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"html, body {\n  margin: 0;\n  padding: 0;\n}\n\nbody {\n  font-family: \"proxima-nova-1\",\"proxima-nova-2\", \"Helvetica Neue\", Helvetica, verdana, sans-serif;\n  -webkit-font-smoothing: antialiased;\n}\n\n#masthead {\n  height: 125px;\n  width: 100%;\n  position: relative;\n  background: #FFFFFF;\n  border-top: 4px solid #78be20;\n  box-shadow: 0 2px 7px rgba(0,0,0,0.2);\n}\n\n#masthead-content {\n  margin: 0 auto;\n  position: relative;\n  width: 80%;\n  height: 100%;\n}\n\n#masthead-content img {\n  float: left;\n  margin: 32px;\n  width: 165px;\n  margin-left: 0;\n}\n\n#content {\n  width: 80%;\n  margin: 60px auto;\n  padding: 40px;\n  box-sizing: border-box;\n  border-radius: 9px;\n  background: #FAFAFA;\n}\n\n#mac-address {\n  margin-bottom: 10px;\n}\n\n#mac-field {\n  width: 30%;\n  height: 35px;\n  margin-bottom: 20px;\n  padding-left: 13px;\n  border: 1px solid #E6E6E6;\n  border-radius: 2px;\n  box-sizing: border-box;\n  font-family: \"proxima-nova-1\",\"proxima-nova-2\", \"Helvetica Neue\", Helvetica, verdana, sans-serif;\n  font-size: 16px;\n  font-weight: 100;\n  min-width: 136px;\n}\n\n#map-wrapper {\n  width: 100%;\n  height: 700px;\n}\n\n#map-canvas {\n  height: 70%;\n  width: 70%;\n}\n\n\nh1 {\n  color: #78be20;\n  font-weight: 100;\n  font-size: 38px;\n  margin-top: 0;\n  letter-spacing: -1px;\n}\n\n\n#last-mac {\n  color: #6B6B6B;\n  width: 100%;\n  font-weight: 400;\n  margin-bottom: 10px;\n  font-size: 14px;\n}\n\n.small {\n  color: #6B6B6B;\n  font-weight: 400;\n  margin-bottom: 30px;\n  font-size: 14px;\n}\n\n.bold {\n  font-weight: 600;\n}\n\nbutton, input {\n  width: 11%;\n}\n\nbutton {\n  height: 35px;\n  border: none;\n  background: #737373;\n  border-radius: 2px;\n  box-sizing: border-box;\n  color: white;\n  font-family: \"proxima-nova-1\",\"proxima-nova-2\", \"Helvetica Neue\", Helvetica, verdana, sans-serif;\n  font-weight: 200;\n  font-size: 14px;\n  padding: 0;\n  min-width: 70px;\n}\n\nbutton:hover{\n  background: #616060;\n}\n","x":435,"y":860,"wires":[["a11213b0.c87f7"]]},{"id":"ad63eb81.6c2088","type":"template","z":"a3e5946c.fcef78","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"(function ($) {\n  var map,                                      // This is the Google map\n    clientMarker,                               // The current marker when we are following a single client\n    clientUncertaintyCircle,                    // The circle describing that client's location uncertainty\n    lastEvent,                                  // The last scheduled polling task\n    lastInfoWindowMac,                          // The last Mac displayed in a marker tooltip\n    allMarkers = [],                            // The markers when we are in \"View All\" mode\n    lastMac = \"\",                               // The last requested MAC to follow\n    infoWindow = new google.maps.InfoWindow();  // The marker tooltip\n    /*\n    ,\n    markerImage = new google.maps.MarkerImage('blue_circle.png',\n      new google.maps.Size(15, 15),\n      new google.maps.Point(0, 0),\n      new google.maps.Point(4.5, 4.5)\n    );\n    */\n    \n    var latlngbounds = new google.maps.LatLngBounds();\n\n  // Removes all markers\n  function clearAll() {\n    clientMarker.setMap(null);\n    clientUncertaintyCircle.setMap(null);\n    lastInfoWindowMac = \"\";\n    var m;\n    while (allMarkers.length !== 0) {\n      m = allMarkers.pop();\n      if (infoWindow.anchor === m) {\n        lastInfoWindowMac = m.mac;\n      }\n      m.setMap(null);\n    }\n  }\n\n  // Plots the location and uncertainty for a single MAC address\n  function track(client) {\n    clearAll();\n    if (client !== undefined && client.lat !== undefined && !(typeof client.lat === 'undefined')) {\n      var pos = new google.maps.LatLng(client.lat, client.lng);\n      console.log('track client pos '+pos);\n      if (client.manufacturer !== undefined) {\n        mfrStr = client.manufacturer + \" \";\n      } else {\n        mfrStr = \"\";\n      }\n      if (client.os !== undefined) {\n        osStr = \" running \" + client.os;\n      } else {\n        osStr = \"\";\n      }\n      if (client.ssid !== undefined) {\n        ssidStr = \" with SSID '\" + client.ssid + \"'\";\n      } else {\n        ssidStr = \"\";\n      }\n      if (client.floors !== undefined && client.floors !== \"\") {\n        floorStr = \" at '\" + client.floors + \"'\"\n      } else {\n        floorStr = \"\";\n      }\n      $('#last-mac').text(mfrStr + \"'\" + lastMac + \"'\" + osStr + ssidStr +\n        \" last seen on \" + client.seenString + floorStr +\n        \" with uncertainty \" + client.unc.toFixed(1) + \" meters (reloading every 20 seconds)\");\n      map.setCenter(pos);\n      clientMarker.setMap(map);\n      clientMarker.setPosition(pos);\n      clientUncertaintyCircle = new google.maps.Circle({\n        map: map,\n        center: pos,\n        radius: client.unc,\n        fillColor: 'RoyalBlue',\n        fillOpacity: 0.25,\n        strokeColor: 'RoyalBlue',\n        strokeWeight: 1\n      });\n    } else {\n      $('#last-mac').text(\"Client '\" + lastMac + \"' could not be found\");\n    }\n  }\n\n  // Looks up a single MAC address\n  function lookup(mac) {\n    $.getJSON('/clients/' + mac, function (response) {\n      track(response);\n    });\n  }\n\n  // Adds a marker for a single client within the \"view all\" perspective\n  function addMarker(client) {\n    var pos = new google.maps.LatLng(client.lat, client.lng);\n    console.log('addMarker pos '+pos);\n    var m = new google.maps.Marker({\n      position: pos,\n      map: map,\n      mac: client.mac,\n      //icon: markerImage\n    });\n    \n    if(client.lat){\n        latlngbounds.extend(pos);\n        map.fitBounds(latlngbounds);\n    }\n    google.maps.event.addListener(m, 'click', function () {\n        //build info\n        var htmlString = '<h2>Client:  '+client.name +'</h2>';\n        \n        for (var key in client) {\n            if (client.hasOwnProperty(key)) {\n                if(client[key] !== undefined){\n                    if(key == '_id' || key == 'name'){continue}\n                    htmlString += '<p>'+key+' : '+client[key]+'</p>';\n                }\n            }\n        }\n        \n        infoWindow.setContent(\"<div>\" + htmlString + \"</div>\" + \"(<a class='client-filter' href='#' data-mac='\" +\n        client.mac + \"'>Follow this client)</a>\");\n        //\n      //infoWindow.setContent(\"<div>\" + client.mac + \"</div> (<a class='client-filter' href='#' data-mac='\" +\n        //client.mac + \"'>Follow this client)</a>\");\n        \n      infoWindow.open(map, m);\n    });\n    if (client.mac === lastInfoWindowMac) {\n      infoWindow.open(map, m);\n    }\n    allMarkers.push(m);\n  }\n\n  // Displays markers for all clients\n  function trackAll(clients) {\n    clearAll();\n    if (clients.length === 0) {\n      $('#last-mac').text(\"Found no clients (if you just started the web server, you may need to wait a few minutes to receive pushes from Meraki)\");\n    } else { $('#last-mac').text(\"Found \" + clients.length + \" clients (reloading every 20 seconds)\"); }\n    clientUncertaintyCircle.setMap(null);\n    clients.forEach(addMarker);\n  }\n\n  // Looks up all MAC addresses\n  function lookupAll() {\n    $('#last-mac').text(\"Looking up all clients...\");\n    $.getJSON('/clients/', function (response) {\n      trackAll(response);\n    });\n  }\n\n  // Begins a task timer to reload a single MAC every 20 seconds\n  function startLookup() {\n    lastMac = $('#mac-field').val().trim();\n    if (lastEvent !== null) { window.clearInterval(lastEvent); }\n    lookup(lastMac);\n    lastEvent = window.setInterval(lookup, 20000, lastMac);\n  }\n\n  // Begins a task timer to reload all MACs every 20 seconds\n  function startLookupAll() {\n    if (lastEvent !== null) { window.clearInterval(lastEvent); }\n    lastEvent = window.setInterval(lookupAll, 20000);\n    lookupAll();\n  }\n\n  // This is called after the DOM is loaded, so we can safely bind all the\n  // listeners here.\n  function initialize() {\n    var center = new google.maps.LatLng(37.7705, -122.3870);\n    var mapOptions = {\n      zoom: 20,\n      center: center\n    };\n    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n    clientMarker = new google.maps.Marker({\n      position: center,\n      map: null,\n      //icon: markerImage\n    });\n    clientUncertaintyCircle = new google.maps.Circle({\n      position: center,\n      map: null\n    });\n\n    $('#track').click(startLookup).bind(\"enterKey\", startLookup);\n\n    $('#all').click(startLookupAll);\n\n    $(document).on(\"click\", \".client-filter\", function (e) {\n      e.preventDefault();\n      var mac = $(this).data('mac');\n      $('#mac-field').val(mac);\n      startLookup();\n    });\n\n    startLookupAll();\n  }\n\n  // Call the initialize function when the window loads\n  $(window).load(initialize);\n}(jQuery));","x":275,"y":860,"wires":[["5d50593c.cbd5d8"]]},{"id":"571203ed.112e6c","type":"http in","z":"a3e5946c.fcef78","name":"","url":"/cmxapimap","method":"get","swaggerDoc":"","x":105,"y":860,"wires":[["ad63eb81.6c2088"]]},{"id":"168756d3.b338e9","type":"http response","z":"a3e5946c.fcef78","name":"","x":715,"y":860,"wires":[]},{"id":"a11213b0.c87f7","type":"template","z":"a3e5946c.fcef78","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>CMX push API demo app with Node-RED</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script>TypekitConfig={kitId:\"hum1oye\",scriptTimeout:1.5e3},function(){var a=document.getElementsByTagName(\"html\")[0];a.className+=\" wf-loading\";var b=setTimeout(function(){a.className=a.className.replace(/(\\s|^)wf-loading(\\s|$)/g,\"\"),a.className+=\" wf-inactive\"},TypekitConfig.scriptTimeout),c=document.createElement(\"script\");c.src=\"//use.typekit.com/\"+TypekitConfig.kitId+\".js\",c.type=\"text/javascript\",c.async=\"true\",c.onload=c.onreadystatechange=function(){var a=this.readyState;if(!a||a==\"complete\"||a==\"loaded\"){clearTimeout(b);try{Typekit.load(TypekitConfig)}catch(c){}}};var d=document.getElementsByTagName(\"script\")[0];d.parentNode.insertBefore(c,d)}()</script>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCWFVfLzjGaepofBse9sHFF-S-mtqVjzLA\"></script>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <script>{{{payload.script}}}</script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  <body>\n    <div id=\"masthead\">\n      <div id=\"masthead-content\">\n        <img src=\"https://meraki.cisco.com/img/cisco-meraki.png\"/>\n      </div>\n    </div>\n    <div id=\"content\">\n      <h1>CMX API Demo with Node-RED</h1>\n      <div id=\"mac-address\">\n        <input id=\"mac-field\" type=\"text\" placeholder=\"Enter MAC address\" />&nbsp;\n        <button id=\"track\">Follow</button>&nbsp;\n        <button id=\"all\">View All</button>\n        <button><a href=/clients target=\"_blank\" style=\"text-decoration:none; color: inherit\">View All - JSON</a></button>\n      </div>\n      <div id=\"last-mac\"></div>\n      <div class=\"small\"><span class=\"bold\">Clients in the wrong place?</span> Make sure your APs are placed properly in Dashboard.</div>\n      <div id=\"map-wrapper\">\n        <div id=\"map-canvas\"></div>\n      </div>\n    </div>\n  </body>\n</html>","x":575,"y":860,"wires":[["168756d3.b338e9"]]},{"id":"8a69b9f7.ee2f08","type":"debug","z":"a3e5946c.fcef78","name":"find({})","active":false,"console":"false","complete":"payload","x":715,"y":560,"wires":[]},{"id":"430b214c.bfcb8","type":"comment","z":"a3e5946c.fcef78","name":"Client Front-end API","info":"","x":95,"y":480,"wires":[]},{"id":"26691767.9f9c28","type":"comment","z":"a3e5946c.fcef78","name":"Receive CMX Data","info":"","x":95,"y":100,"wires":[]},{"id":"deeac7fe.44b088","type":"comment","z":"a3e5946c.fcef78","name":"Utilities","info":"","x":55,"y":920,"wires":[]},{"id":"61d1fa29.845e74","type":"function","z":"a3e5946c.fcef78","name":"CMX Sample Data","func":"msg.payload = {\n    \"version\": \"2.0\",\n    \"secret\": \"supersecret\",\n    \"type\": \"DevicesSeen\",\n    \"data\": {\n        \"apMac\": \"00:18:0a:13:dd:b0\",\n        \"apFloors\": [],\n        \"apTags\": [ \"\", \"home\", \"\" ],\n        \"observations\": [ { \n            \"ipv4\": \"/192.168.0.15\",\n            \"location\": {\n                \"lat\": 51.5155157,\n                \"lng\": -0.06590350000000944,\n                \"unc\": 1.2185886512767726,\n                \"x\": [], \"y\": [] \n                \n            },\n            \"seenTime\": \"2016-07-29T13:17:10Z\",\n            \"ssid\": \".interwebs\",\n            \"os\": \"Debian-based Linux\",\n            \"clientMac\": \"AA:AA:AA:AA:AA:AA\",\n            \"seenEpoch\": 1469795230,\n            \"rssi\": 48,\n            \"ipv6\": null,\n            \"manufacturer\": \"Edimax Technology\" \n            }, \n            { \n            \"ipv4\": null,\n            \"location\": {\n                \"lat\": 51.5215157,\n                \"lng\": -0.069905350000000944,\n                \"unc\": 49, \"x\": [],\n                \"y\": []\n                },\n            \"seenTime\": \"2016-07-29T13:17:07Z\",\n            \"ssid\": null,\n            \"os\": null,\n            \"clientMac\": \"BB:BB:BB:BB:BB:BB\",\n            \"seenEpoch\": 1469598227,\n            \"rssi\": 9,\n            \"ipv6\": null,\n            \"manufacturer\": \"Samsung(THAILAND)\"\n            }\n        ]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":140,"wires":[["a811588a.143eb8"]]},{"id":"622b49c5.a72e38","type":"inject","z":"a3e5946c.fcef78","name":"Sample Client A B","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115,"y":140,"wires":[["61d1fa29.845e74"]]},{"id":"14344352.7b1aad","type":"comment","z":"a3e5946c.fcef78","name":"Client Front-end Site","info":"","x":95,"y":820,"wires":[]},{"id":"9f80b1d3.4d31b","type":"comment","z":"a3e5946c.fcef78","name":"README","info":"#Cisco Meraki CMX API - Demo Map\nThis Flow is an example of how to use the Cisco Meraki CMX\nJSON feed to store clients into a database and track them\non a Google map.\n\nThere are three major components\n- CMX Receier\n- Front-end API\n- Front-end Website (Google MAP)\n\n\n##CMX Receier -\nThe CMX Receiver utilizes the Node-RED CMX node to collect\nJSON data from a Cisco Meraki network. This feed is generally\nupdated within 2 minutes. There are two Sample Clients feeds\nthat can be used to test the flow.\n\nOnce the data has been received, the JSON is parsed and\ncommitted to a MongoDB. Please ensure your MongoDB is running\nfor this flow to work properly.\n\n\n##Front-end API - \nThere are two [GET] HTTP routes that provide access to the \ncollected client data. These will be used by the front-end \nwebsite to pull the client information for all or specific\nclients. Fun Fact: You can also use these routes with Postman\nor a standard browser to pull the data directly.\n\n##Front-end Website - \nThis will provide the webpage to view the Google map and \ntrack clients.\nThe website can be viewed at\n`http://yourserver:1880/cmxapimap`\n\n#Setup\n- Configure a Cisco Meraki network to post the CMX JSON to\nyour listening URL. Example: `http://yourserver:1880/cmx`\n\n- Install and configure MongoDB. Then update the MongoDB2 \nnodes within your flow to match the appropriate settings.\nExample: `mongodb://localhost:27017/test`\n\n- Insert Sample Client information by pressing the blue\nbuttons for each. Note, this will place the clients in London\nby default. Remove these clients if you do not want to \nconfuse your map centering\n\nMore information can be found on the Meraki Developers portal\nhttp://developers.meraki.com/tagged/Location\n\n\nThis flow was created by \nCory Guynn\nSystems Engineer\nCisco Meraki \n2016\n\nFor other fun IoT projects\nhttp://www.InternetOfLEGO.com\n\nMIT License. \n\n","x":375,"y":20,"wires":[]},{"id":"9de14615.951138","type":"link in","z":"a3e5946c.fcef78","name":"","links":["7ece60c5.1755"],"x":62.5,"y":400,"wires":[["a811588a.143eb8","88daa344.7f5a9"]]},{"id":"73aaac57.1dbcd4","type":"comment","z":"a3e5946c.fcef78","name":"CMX Link","info":"","x":66.5,"y":347,"wires":[]},{"id":"18a688d9.575507","type":"debug","z":"19daec9d.f73d83","name":"excapSignOn raw data","active":true,"console":"false","complete":"payload","x":391,"y":520,"wires":[]},{"id":"fccd15ea.aeca78","type":"http in","z":"19daec9d.f73d83","name":"","url":"/excapSignOn","method":"get","swaggerDoc":"","x":181,"y":450,"wires":[["18a688d9.575507","b5323f1.c7ef8c"]]},{"id":"33e8a11e.d0a6de","type":"http response","z":"19daec9d.f73d83","name":"","x":783,"y":137,"wires":[]},{"id":"88deca21.7c8118","type":"http in","z":"19daec9d.f73d83","name":"","url":"/excapClick","method":"get","swaggerDoc":"","x":167,"y":137,"wires":[["a41b67bd.e1f0b8","5c616bc8.be4274"]]},{"id":"6220dc0a.56e514","type":"http response","z":"19daec9d.f73d83","name":"","x":770,"y":449,"wires":[]},{"id":"a9f3d9d6.6ae548","type":"template","z":"19daec9d.f73d83","name":"HTML Login Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n{{{payload.css}}}\n\n\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <title>Registration Form</title>\n\n</head>\n<body>\n\n    \n\n\n    <div class=\"main-content\">\n    <form class=\"form-register\" method=POST action={{payload.login_url}} />\n        <input type=\"hidden\" name=\"continue_url\" value={{payload.continue_url}} />\n        <input type=\"hidden\" name=\"host\" value ={{host}}>\n        <input type=\"hidden\" name=\"base_grant_url\" value = {{payload.base_grant_url}}/>\n        <input type=\"hidden\" name=\"user_continue_url\" value = {{payload.user_continue_url}}/>\n        <input type=\"hidden\" name=\"node_mac\" value = {{payload.node_mac}}/>\n        <input type=\"hidden\" name=\"client_ip\" value = {{payload.client_ip}}/>\n        <input type=\"hidden\" name=\"client_mac\" value = {{payload.client_mac}}/>\n        <input type=\"hidden\" name=\"success_url\" value={{payload.continue_url}} />\n\n            <div class=\"form-register-with-email\">\n\n                <div class=\"form-white-background\">\n\n                    <div class=\"form-title-row\">\n                        <h1>Login to WiFi</h1>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Email</span>\n                            <input type=\"email\" name=\"email\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Password</span>\n                            <input type=\"password\" name=\"password\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label class=\"form-checkbox\">\n                            <input type=\"checkbox\" name=\"checkbox\" checked value=\"accepted\" required>\n                            <span>I agree to the <a href=\"/excapTerms\" target\"_blank\">terms and conditions</a></span>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <button type=\"submit\">Register</button>\n                    </div>\n\n                </div>\n\n            </div>\n\n            <!-- Future Social Features\n            <div class=\"form-sign-in-with-social\">\n\n                <div class=\"form-row form-title-row\">\n                    <span class=\"form-title\">Sign in with</span>\n                </div>\n\n                <a href=\"#\" class=\"form-google-button\">Google</a>\n                <a href=\"#\" class=\"form-facebook-button\">Facebook</a>\n                <a href=\"#\" class=\"form-twitter-button\">Twitter</a>\n                \n\n            </div>\n            -->\n\n        </form>\n                Your IP: {{payload.client_ip}}\n                <br>\n                Your MAC: {{payload.client_mac}}\n\n    </div>\n\n</body>\n\n</html>","x":585,"y":465,"wires":[["6220dc0a.56e514"]]},{"id":"a41b67bd.e1f0b8","type":"function","z":"19daec9d.f73d83","name":"Set login_url","func":"msg.payload.login_url = msg.payload.base_grant_url + '?continue_url=' + msg.payload.user_continue_url;\n\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":137,"wires":[["fdda87f.cdcbd78"]]},{"id":"5c616bc8.be4274","type":"debug","z":"19daec9d.f73d83","name":"excapClick raw data","active":true,"console":"false","complete":"payload","x":378,"y":174,"wires":[]},{"id":"f364a29a.73601","type":"comment","z":"19daec9d.f73d83","name":"Meraki Click-through, read more...","info":"Configure by placing this host server address\nfollowed by /excapClick in the Custom Splash Page URL\nsection of the Meraki Dashboard.\n\nie. https://yourserver:1880/excapClick\n\nBe sure to update the \"walled garden\" in the \nMeraki Dashboard with the IP address of your \nserver and any other resources required before\nlogin, such as your website, images, CSS, etc.\n\nThe HTML page can be modified as needed. \n","x":173,"y":83,"wires":[]},{"id":"5139ce7d.f74ad","type":"comment","z":"19daec9d.f73d83","name":"Meraki Sign-on, read more...","info":"Configure by placing this host server address\nfollowed by /excapClick in the Custom Splash Page URL\nsection of the Meraki Dashboard.\n\nie. https://yourserver:1880/excapSignOn\n\nBe sure to update the \"walled garden\" in the \nMeraki Dashboard with the IP address of your \nserver and any other resources required before\nlogin, such as your website, images, CSS, etc.\n\n","x":159,"y":400,"wires":[]},{"id":"1b438677.1cedca","type":"template","z":"19daec9d.f73d83","name":"HTML Splash Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n{{{payload.css}}}\n\n\n\t<meta charset=\"utf-8\">\n\t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n\t<title>Registration Form</title>\n\n</head>\n<body>\n\n\t\n\n\n    <div class=\"main-content\">\n\n        <form class=\"form-register\" method=POST action=\"/excapClickLogin\">\n                <input type=\"hidden\" name=\"continue_url\" value={{payload.continue_url}} />\n                <input type=\"hidden\" name=\"host\" value ={{host}}>\n                <input type=\"hidden\" name=\"base_grant_url\" value = {{payload.base_grant_url}}/>\n                <input type=\"hidden\" name=\"user_continue_url\" value = {{payload.user_continue_url}}/>\n                <input type=\"hidden\" name=\"node_mac\" value = {{payload.node_mac}}/>\n                <input type=\"hidden\" name=\"client_ip\" value = {{payload.client_ip}}/>\n                <input type=\"hidden\" name=\"client_mac\" value = {{payload.client_mac}}/>\n            \n            <div class=\"form-register-with-email\">\n\n                <div class=\"form-white-background\">\n\n                    <div class=\"form-title-row\">\n                        <h1>Login to WiFi</h1>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Name</span>\n                            <input type=\"text\" name=\"name\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label>\n                            <span>Email</span>\n                            <input type=\"email\" name=\"email\" required>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <label class=\"form-checkbox\">\n                            <input type=\"checkbox\" name=\"checkbox\" checked value=\"accepted\" required>\n                            <span>I agree to the <a href=\"/excapTerms\" target\"_blank\">terms and conditions</a></span>\n                        </label>\n                    </div>\n\n                    <div class=\"form-row\">\n                        <button type=\"submit\">Register</button>\n                    </div>\n\n                </div>\n\n            </div>\n\n            <!-- Future Social Features\n            <div class=\"form-sign-in-with-social\">\n\n                <div class=\"form-row form-title-row\">\n                    <span class=\"form-title\">Sign in with</span>\n                </div>\n\n                <a href=\"#\" class=\"form-google-button\">Google</a>\n                <a href=\"#\" class=\"form-facebook-button\">Facebook</a>\n                <a href=\"#\" class=\"form-twitter-button\">Twitter</a>\n                \n\n            </div>\n            -->\n\n        </form>\n                Your IP: {{payload.client_ip}}\n                <br>\n                Your MAC: {{payload.client_mac}}\n\n    </div>\n\n</body>\n\n</html>\n\n","x":616,"y":137,"wires":[["33e8a11e.d0a6de"]]},{"id":"717a8127.ea92e","type":"http in","z":"19daec9d.f73d83","name":"","url":"/excapClickLogin","method":"post","swaggerDoc":"","x":256,"y":242,"wires":[["67124322.0577bc","42f2425a.c9d78c"]]},{"id":"67124322.0577bc","type":"function","z":"19daec9d.f73d83","name":"Process login with 302 redirect","func":"// check if client has connected properly and received response from AP\nif (msg.payload.base_grant_url){\n    msg.statusCode = 302;\n    msg.headers = {\n      'Location': msg.payload.base_grant_url + '?continue_url=' + msg.payload.user_continue_url\n      //add other headers here...\n    };\n}else{\n    // error: send client back to login\n    msg.statusCode = 302;\n    msg.headers = {\n      'Location': '/excapNotConnected'\n      //add other headers here...\n    };\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":531,"y":242,"wires":[["e0e56da8.72325","61ccf510.f54cac"]]},{"id":"e0e56da8.72325","type":"http response","z":"19daec9d.f73d83","name":"","x":773,"y":242,"wires":[]},{"id":"42f2425a.c9d78c","type":"debug","z":"19daec9d.f73d83","name":"excapClick session data to console","active":true,"console":"false","complete":"payload","x":564.9999847412109,"y":321.0000114440918,"wires":[]},{"id":"e25cdaf8.eec498","type":"comment","z":"19daec9d.f73d83","name":"Store form data - read more...","info":"Instead of the debug console output, export\nthe form/session data to a database, file, etc.","x":519,"y":288,"wires":[]},{"id":"a3a16c17.a1cdf","type":"comment","z":"19daec9d.f73d83","name":"Terms and Conditions","info":"","x":144,"y":754,"wires":[]},{"id":"6c0d9f6a.3f3c","type":"comment","z":"19daec9d.f73d83","name":"Success","info":"","x":106,"y":542,"wires":[]},{"id":"335a36e5.259b3a","type":"http in","z":"19daec9d.f73d83","name":"","url":"/excapTerms","method":"get","swaggerDoc":"","x":204,"y":793,"wires":[["966b4b22.ee85e8"]]},{"id":"9782dca4.92a9f","type":"http response","z":"19daec9d.f73d83","name":"","x":786,"y":793,"wires":[]},{"id":"93bc29e2.256a98","type":"template","z":"19daec9d.f73d83","name":"HTML Terms and Conditions","field":"payload","format":"handlebars","template":"<head>\n    <title>Terms and Conditions</title>\n{{{payload}}}\n</head>\n<body>\n    <div class=\"container\">\n    <h1>Terms and Conditions</h1>\n    <ul>\n        <li>Please use our network responsibly. </li>\n        <li>Your computer's MAC and IP address will be logged.</li>\n    </ul>\n    </div>\n</body>\n\n\n","x":555,"y":793,"wires":[["9782dca4.92a9f"]]},{"id":"227b3ba7.d71dc4","type":"http in","z":"19daec9d.f73d83","name":"","url":"/excapSuccess","method":"get","swaggerDoc":"","x":184,"y":597,"wires":[["337ccf93.e0355"]]},{"id":"c2530f1f.a5b4b","type":"http response","z":"19daec9d.f73d83","name":"","x":773,"y":597,"wires":[]},{"id":"311b4ced.2f0694","type":"template","z":"19daec9d.f73d83","name":"HTML Success","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n    <title>Success!</title>\n{{{payload.css}}}\n</head>\n<body>\n    <div class=\"container\">\n    <center><h1>Success!</h1>\n    <h2>You can now use the network.</h2>\n    </center>\n    </div>\n</body>\n\n\n","x":567,"y":597,"wires":[["c2530f1f.a5b4b"]]},{"id":"5ff5c7e7.8107c8","type":"comment","z":"19daec9d.f73d83","name":"Error: Not connected to AP","info":"","x":160,"y":877,"wires":[]},{"id":"1795c7b2.afd328","type":"http in","z":"19daec9d.f73d83","name":"","url":"/excapNotConnected","method":"get","swaggerDoc":"","x":205,"y":950,"wires":[["bfff70c0.4a592"]]},{"id":"ba9e9a02.3eab18","type":"http response","z":"19daec9d.f73d83","name":"","x":787,"y":950,"wires":[]},{"id":"99399b92.7d47d8","type":"template","z":"19daec9d.f73d83","name":"HTML Terms and Conditions","field":"payload","format":"handlebars","template":"<head>\n    <title>Error: Not Connected</title>\n{{{payload}}}\n</head>\n<body>\n    <div class=\"container\">\n    <h1>Error: Not Connected</h1>\n    <p>\n        Hmm, somethings not right. It appears you\n        are not connected to the correct wireless network.\n    </p>\n    </div>\n</body>\n\n\n","x":556,"y":950,"wires":[["ba9e9a02.3eab18"]]},{"id":"ea549b81.360328","type":"comment","z":"19daec9d.f73d83","name":"Cisco Meraki ExCap Service","info":"This flow provides a web service for the\nCisco Meraki WiFi external splash page API.\n\nThere are two primary services:\n- Click-through\n- Sign-on\n\nSimply use the address of this server along\nwith the URL for the respective service. This\nURL will be added into the Meraki Dashboard\nin the Splash Page URL section.\n\nhttp://yourserver:1880/excapClick\nhttp://yourserver:1880/excapSignOn\n\n\nMore information about the Meraki ExCap API:\nhttps://meraki.cisco.com/lib/pdf/meraki_whitepaper_captive_portal.pdf\n\nEnjoy!\n\nWritten by Cory Guynn, 2015.\nConsulting Engineer @ https://meraki.cisco.com/\nTechnical Blogger @ http://www.InternetOfLego.com","x":438.5,"y":35,"wires":[]},{"id":"fdda87f.cdcbd78","type":"template","z":"19daec9d.f73d83","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style>\nhtml{\n    background-color: #f3f3f3;\n}\n\n.form-register{\n    max-width: 1000px;\n    width: 100%;\n    margin: 0 auto;\n\n    font: bold 14px sans-serif;\n    text-align: center;\n}\n\n.form-register-with-email{\n    position: relative;\n    display: inline-block;\n    vertical-align: top;\n    margin-right: 130px;\n    text-align: center;\n}\n\n.form-register-with-email .form-white-background{\n    width: 570px;\n    box-sizing: border-box;\n    background-color: #ffffff;\n    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);\n    padding: 60px 80px;\n    margin-bottom: 35px;\n}\n\n.form-register-with-email .form-row{\n    text-align: left;\n    margin-bottom: 23px;\n}\n\n.form-register-with-email .form-title-row{\n    text-align: center;\n    margin-bottom: 50px;\n}\n\n.form-register-with-email h1{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 0 20px 15px;\n    border-bottom: 2px solid #6caee0;\n    margin: 0;\n}\n\n.form-register-with-email .form-row > label span{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #5f5f5f;\n    width: 125px;\n    text-align: right;\n    padding-right: 25px;\n}\n\n.form-register-with-email input{\n    color:  #5f5f5f;\n    box-sizing: border-box;\n    width: 230px;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 12px 18px;\n    border: 1px solid #dbdbdb;\n}\n\n.form-register-with-email .form-checkbox input{\n    margin-left: 128px;\n    margin-right: 10px;\n    width: auto;\n    vertical-align: top;\n}\n\n.form-register-with-email .form-row .form-checkbox span{\n    font-size: 12px;\n    font-weight: normal;\n    display: inline-block;\n    text-align: left;\n    width: 220px;\n    margin: 0;\n}\n\n.form-register-with-email .form-checkbox span a{\n    text-decoration: none;\n    color:  #6caee0;\n}\n\n.form-register-with-email button{\n    display: block;\n    border-radius: 2px;\n    background-color:  #6caee0;\n    color: #ffffff;\n    font-weight: bold;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 15px 35px;\n    border: 0;\n    margin: 55px auto 0;\n    cursor: pointer;\n}\n\n.form-register-with-email .form-log-in-with-existing{\n    text-decoration: none;\n    padding: 4px 8px;\n    font-weight: normal;\n    color: #7b9d62;\n    background-color: #d6f0c3;\n}\n\n\n.form-sign-in-with-social{\n    display: inline-block;\n    max-width: 180px;\n    box-sizing: border-box;\n    vertical-align: top;\n    text-align: center;\n    margin-top: 100px;\n}\n\n.form-sign-in-with-social .form-title-row{\n    margin-bottom: 50px;\n}\n\n.form-sign-in-with-social .form-title{\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 15px 20px;\n    border-bottom: 2px solid #6caee0;\n}\n\n.form-sign-in-with-social .form-google-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(222, 110, 60, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-facebook-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(75, 136, 194, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-twitter-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(123, 195, 226, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n/*\tMaking the form responsive. Remove these media queries\n    if you don't need the form to work on mobile devices. */\n\n@media (max-width: 900px) {\n\n    .form-register{\n        margin: 20px auto;\n    }\n\n    .form-register-with-email{\n        position: relative;\n        display: block;\n        margin: 0;\n    }\n\n    .form-register-with-email .form-white-background{\n        margin: 0 auto 32px;\n    }\n\n\n\n    .form-sign-in-with-social {\n        margin-top: 105px;\n    }\n\n}\n\n@media (max-width: 600px) {\n\n    .form-register-with-email .form-white-background{\n        width: 300px;\n        padding-left: 35px;\n        padding-right: 35px;\n    }\n\n    .form-register-with-email .form-row > label span{\n        display: block;\n        text-align: left;\n        padding: 0 0 10px;\n    }\n\n    .form-register-with-email input{\n        display: block;\n        margin: 0 auto;\n    }\n\n    .form-register-with-email .form-checkbox input{\n        display: inline-block;\n        margin-left: 0;\n    }\n\n    .form-register-with-email .form-checkbox span{\n        width: 200px !important;\n    }\n\n    .form-register-with-email:after{\n        bottom: -80px;\n        left: 50%;\n        margin-left: -25px;\n    }\n\n}\n</style>","x":591.5,"y":101,"wires":[["1b438677.1cedca"]]},{"id":"b5323f1.c7ef8c","type":"template","z":"19daec9d.f73d83","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style>\nhtml{\n    background-color: #f3f3f3;\n}\n\n.form-register{\n    max-width: 1000px;\n    width: 100%;\n    margin: 0 auto;\n\n    font: bold 14px sans-serif;\n    text-align: center;\n}\n\n.form-register-with-email{\n    position: relative;\n    display: inline-block;\n    vertical-align: top;\n    margin-right: 130px;\n    text-align: center;\n}\n\n.form-register-with-email .form-white-background{\n    width: 570px;\n    box-sizing: border-box;\n    background-color: #ffffff;\n    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);\n    padding: 60px 80px;\n    margin-bottom: 35px;\n}\n\n.form-register-with-email .form-row{\n    text-align: left;\n    margin-bottom: 23px;\n}\n\n.form-register-with-email .form-title-row{\n    text-align: center;\n    margin-bottom: 50px;\n}\n\n.form-register-with-email h1{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 0 20px 15px;\n    border-bottom: 2px solid #6caee0;\n    margin: 0;\n}\n\n.form-register-with-email .form-row > label span{\n    display: inline-block;\n    box-sizing: border-box;\n    color:  #5f5f5f;\n    width: 125px;\n    text-align: right;\n    padding-right: 25px;\n}\n\n.form-register-with-email input{\n    color:  #5f5f5f;\n    box-sizing: border-box;\n    width: 230px;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 12px 18px;\n    border: 1px solid #dbdbdb;\n}\n\n.form-register-with-email .form-checkbox input{\n    margin-left: 128px;\n    margin-right: 10px;\n    width: auto;\n    vertical-align: top;\n}\n\n.form-register-with-email .form-row .form-checkbox span{\n    font-size: 12px;\n    font-weight: normal;\n    display: inline-block;\n    text-align: left;\n    width: 220px;\n    margin: 0;\n}\n\n.form-register-with-email .form-checkbox span a{\n    text-decoration: none;\n    color:  #6caee0;\n}\n\n.form-register-with-email button{\n    display: block;\n    border-radius: 2px;\n    background-color:  #6caee0;\n    color: #ffffff;\n    font-weight: bold;\n    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);\n    padding: 15px 35px;\n    border: 0;\n    margin: 55px auto 0;\n    cursor: pointer;\n}\n\n.form-register-with-email .form-log-in-with-existing{\n    text-decoration: none;\n    padding: 4px 8px;\n    font-weight: normal;\n    color: #7b9d62;\n    background-color: #d6f0c3;\n}\n\n\n.form-sign-in-with-social{\n    display: inline-block;\n    max-width: 180px;\n    box-sizing: border-box;\n    vertical-align: top;\n    text-align: center;\n    margin-top: 100px;\n}\n\n.form-sign-in-with-social .form-title-row{\n    margin-bottom: 50px;\n}\n\n.form-sign-in-with-social .form-title{\n    box-sizing: border-box;\n    color:  #4c565e;\n    font-size: 24px;\n    padding: 15px 20px;\n    border-bottom: 2px solid #6caee0;\n}\n\n.form-sign-in-with-social .form-google-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(222, 110, 60, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-facebook-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(75, 136, 194, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n.form-sign-in-with-social .form-twitter-button{\n    color:  #ffffff;\n    display: block;\n    width: 145px;\n    height: 40px;\n    font-size: 12px;\n    line-height: 40px;\n    background-color:  rgba(123, 195, 226, 0.9);\n    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.08);\n    border-radius: 2px;\n    margin: 8px auto;\n    text-decoration: none;\n}\n\n/*\tMaking the form responsive. Remove these media queries\n    if you don't need the form to work on mobile devices. */\n\n@media (max-width: 900px) {\n\n    .form-register{\n        margin: 20px auto;\n    }\n\n    .form-register-with-email{\n        position: relative;\n        display: block;\n        margin: 0;\n    }\n\n    .form-register-with-email .form-white-background{\n        margin: 0 auto 32px;\n    }\n\n\n\n    .form-sign-in-with-social {\n        margin-top: 105px;\n    }\n\n}\n\n@media (max-width: 600px) {\n\n    .form-register-with-email .form-white-background{\n        width: 300px;\n        padding-left: 35px;\n        padding-right: 35px;\n    }\n\n    .form-register-with-email .form-row > label span{\n        display: block;\n        text-align: left;\n        padding: 0 0 10px;\n    }\n\n    .form-register-with-email input{\n        display: block;\n        margin: 0 auto;\n    }\n\n    .form-register-with-email .form-checkbox input{\n        display: inline-block;\n        margin-left: 0;\n    }\n\n    .form-register-with-email .form-checkbox span{\n        width: 200px !important;\n    }\n\n    .form-register-with-email:after{\n        bottom: -80px;\n        left: 50%;\n        margin-left: -25px;\n    }\n\n}\n</style>","x":562,"y":427,"wires":[["a9f3d9d6.6ae548"]]},{"id":"337ccf93.e0355","type":"template","z":"19daec9d.f73d83","name":"CSS Style","field":"payload.css","fieldType":"msg","format":"html","syntax":"mustache","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":551,"y":559,"wires":[["311b4ced.2f0694"]]},{"id":"966b4b22.ee85e8","type":"template","z":"19daec9d.f73d83","name":"CSS Style","field":"payload","format":"html","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":499,"y":751,"wires":[["93bc29e2.256a98"]]},{"id":"bfff70c0.4a592","type":"template","z":"19daec9d.f73d83","name":"CSS Style","field":"payload","format":"html","template":"<style type=\"text/css\">\n.container{\n    max-width: 500px;\n    padding: 10px 20px;\n    background: #f4f7f8;\n    margin: 10px auto;\n    padding: 20px;\n    background: #f4f7f8;\n    border-radius: 8px;\n    font-family: Georgia, \"Times New Roman\", Times, serif;\n}\n</style>","x":500,"y":913,"wires":[["99399b92.7d47d8"]]},{"id":"dc39bb9a.cda6e8","type":"comment","z":"19daec9d.f73d83","name":"Supporting Pages","info":"","x":95,"y":693,"wires":[]},{"id":"61ccf510.f54cac","type":"debug","z":"19daec9d.f73d83","name":"Process Login","active":true,"console":"false","complete":"payload","x":739.8957977294922,"y":282.3333549499512,"wires":[]},{"id":"cedf22fc.765d7","type":"function","z":"83ebaf72.4b7c8","name":"CMX Sample Data","func":"msg.payload = {\n    \"version\": \"2.0\",\n    \"secret\": \"supersecret\",\n    \"type\": \"DevicesSeen\",\n    \"data\": {\n        \"apMac\": \"00:18:0a:13:dd:b0\",\n        \"apFloors\": [],\n        \"apTags\": [ \"\", \"home\", \"\" ],\n        \"observations\": [ { \n            \"ipv4\": \"/192.168.0.15\",\n            \"location\": {\n                \"lat\": 51.5155157,\n                \"lng\": -0.06590350000000944,\n                \"unc\": 1.2185886512767726,\n                \"x\": [], \"y\": [] \n                \n            },\n            \"seenTime\": \"2016-07-29T13:17:10Z\",\n            \"ssid\": \".interwebs\",\n            \"os\": \"Debian-based Linux\",\n            \"clientMac\": \"AA:AA:AA:AA:AA:AA\",\n            \"seenEpoch\": 1469795230,\n            \"rssi\": 48,\n            \"ipv6\": null,\n            \"manufacturer\": \"Edimax Technology\" \n            }, \n            { \n            \"ipv4\": null,\n            \"location\": {\n                \"lat\": 51.5215157,\n                \"lng\": -0.069905350000000944,\n                \"unc\": 49, \"x\": [],\n                \"y\": []\n                },\n            \"seenTime\": \"2016-07-29T13:17:07Z\",\n            \"ssid\": null,\n            \"os\": null,\n            \"clientMac\": \"BB:BB:BB:BB:BB:BB\",\n            \"seenEpoch\": 1469598227,\n            \"rssi\": 9,\n            \"ipv6\": null,\n            \"manufacturer\": \"Samsung(THAILAND)\"\n            }\n        ]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["7ece60c5.1755"]]},{"id":"7fad5f36.c1ed2","type":"inject","z":"83ebaf72.4b7c8","name":"Sample Clients","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["cedf22fc.765d7"]]},{"id":"8300e46b.3a6c98","type":"mongodb2 in","z":"83ebaf72.4b7c8","service":"_ext_","configNode":"35e1c5ed.44bbba","name":"","collection":"cmx","operation":"find.toArray","x":400,"y":900,"wires":[["bc4d78ab.c42828"]]},{"id":"46ee6638.6579e8","type":"mongodb2 in","z":"83ebaf72.4b7c8","service":"_ext_","configNode":"35e1c5ed.44bbba","name":"","collection":"cmx","operation":"insert","x":380,"y":820,"wires":[["b1d280bf.01a51"]]},{"id":"545dff5.04cb4","type":"mongodb2 in","z":"83ebaf72.4b7c8","service":"_ext_","configNode":"35e1c5ed.44bbba","name":"","collection":"cmx","operation":"find.toArray","x":380,"y":1060,"wires":[["870167ca.3c56a8"]]},{"id":"a9c705cc.407538","type":"inject","z":"83ebaf72.4b7c8","name":"DELETE ALL DATA","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":170,"y":960,"wires":[["4f304963.00b298"]]},{"id":"4f304963.00b298","type":"mongodb2 in","z":"83ebaf72.4b7c8","service":"_ext_","configNode":"35e1c5ed.44bbba","name":"","collection":"cmx","operation":"deleteMany","x":400,"y":960,"wires":[["1dda8d1a.7ca1a3"]]},{"id":"1dda8d1a.7ca1a3","type":"debug","z":"83ebaf72.4b7c8","name":"CMX MongoDB DELTE","active":true,"console":"false","complete":"payload","x":630,"y":960,"wires":[]},{"id":"b1d280bf.01a51","type":"debug","z":"83ebaf72.4b7c8","name":"CMX MongoDB Insert","active":true,"console":"false","complete":"payload","x":640,"y":820,"wires":[]}]