merakiLocation.json
[{"id":"a16cb8e.92cd148","type":"tab","label":"Meraki Location API - Google MarkerClusters"},{"id":"2261c613.84aa3a","type":"websocket-listener","path":"/ws/stations","wholemsg":"false"},{"id":"a65a04f9.a9bac8","type":"mongodb2","z":"a16cb8e.92cd148","uri":"mongodb://localhost:27017/test","name":"test","options":"","parallelism":"-1"},{"id":"693d0c77.754854","type":"mongodb2","z":"a16cb8e.92cd148","uri":"mongodb://localhost:27017/test","name":"test","options":"","parallelism":"-1"},{"id":"ce53e011.75d8c","type":"meraki-cmx-settings","z":"","name":"AWS Cory Sandbox"},{"id":"736eae77.9f91f","type":"http in","z":"a16cb8e.92cd148","name":"","url":"/clients","method":"get","swaggerDoc":"","x":110,"y":940,"wires":[["22f8ee54.4a0012"]]},{"id":"2d2461df.2900de","type":"comment","z":"a16cb8e.92cd148","name":"Log data","info":"","x":147.50000762939453,"y":386.2500057220459,"wires":[]},{"id":"d62802ec.a22a5","type":"function","z":"a16cb8e.92cd148","name":"build operation parameters: filter, update","func":"// This function updates/creates the client in the database\nvar filter = msg.payload;\nif (\"string\" == typeof filter) {\n  filter = JSON.parse(filter);\n}\n\nmsg.payload = [\n    {'name':msg.payload.name},\n    msg.payload,\n    {upsert:true}\n];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["888bdd38.90f6f"]]},{"id":"888bdd38.90f6f","type":"mongodb2 in","z":"a16cb8e.92cd148","service":"_ext_","configNode":"693d0c77.754854","name":"","collection":"cmxmapapi","operation":"findOneAndUpdate","x":430,"y":480,"wires":[["2ba3dce6.9580b4","828e73e0.dea36"]]},{"id":"2ba3dce6.9580b4","type":"debug","z":"a16cb8e.92cd148","name":"mongdb insert/update","active":true,"console":"false","complete":"payload","x":700,"y":480,"wires":[]},{"id":"94706057.f6d4","type":"function","z":"a16cb8e.92cd148","name":"Format Client","func":"// This function extracts the raw CMX data to create a consistent DB entry\nif(msg.payload === null){\n    return null;\n}\nvar map = msg.payload;\nclient = {}; //reset payload object for clarity\n\n\nif (map['version'] != '2.0'){\n    msg.log = \"got post with unexpected version: #{map['version']}\";\n    return msg;\n}else{\n    msg.log = \"working with correct version\";\n}\n/*\nif (map['type'] != 'DevicesSeen' || 'BluetoothDevicesSeen'){\nmsg.log = \"got post for event that we're not interested in: #{map['type']}\";\nreturn msg;\n}\n*/\n\nvar o = map['data']['observations'];\nconsole.log('map.data.apMac = '+map.data['apMac']);\n   for (var c in o){\n    if (o.hasOwnProperty(c)) {\n        //console.log(\"Key is \" + c + \", value is \" + o[c].location.lat);\n        if (!o[c]['location']){continue}\n        client.name = o[c]['clientMac'];\n        client.mac = o[c]['clientMac'];\n        client.lat = o[c]['location']['lat'];\n        client.lng = o[c]['location']['lng'];\n        client.unc = o[c]['location']['unc'];\n        client.seenString = o[c]['seenTime'];\n        client.seenEpoch = o[c]['seenEpoch'];\n        client.floors = map['data']['apFloors'] === null ? \"\" : map['data']['apFloors'].join;\n        client.manufacturer = o[c]['manufacturer'];\n        client.os = o[c]['os'];\n        client.ssid = o[c]['ssid'];\n        client.ap = map['data']['apMac'];\n        client.apTags = map['data']['apTags'];\n        client.type = map['type'] === \"BluetoothDevicesSeen\" ? \"Bluetooth\" : \"WiFi\";\n        msg.log = \"AP #{map['data']['apMac']} on #{map['data']['apFloors']}: #{c}\";\n        if (client.seenEpoch===null || client.seenEpoch === 0){continue}//  # This probe is useless, so ignore it\n        \n        msg.payload = client;\n        node.send(msg);\n    }else{\n        return null\n    }\n    \n   }\n\n   \nreturn null;","outputs":1,"noerr":0,"x":361.8333396911621,"y":400.33333015441895,"wires":[["6b497a0d.575444","d62802ec.a22a5"]]},{"id":"6b497a0d.575444","type":"debug","z":"a16cb8e.92cd148","name":"format client","active":true,"console":"false","complete":"payload","x":730,"y":400,"wires":[]},{"id":"7640ba3b.e16774","type":"debug","z":"a16cb8e.92cd148","name":"/cmx Raw Data","active":false,"console":"false","complete":"payload","x":720,"y":240,"wires":[]},{"id":"2f9b33d8.d5710c","type":"function","z":"a16cb8e.92cd148","name":"CMX Sample Data","func":"msg.payload = {\n    \"version\": \"2.0\",\n    \"secret\": \"supersecret\",\n    \"type\": \"DevicesSeen\",\n    \"data\": {\n        \"apMac\": \"00:18:0a:13:dd:b0\",\n        \"apFloors\": [],\n        \"apTags\": [ \"\", \"home\", \"\" ],\n        \"observations\": [ { \n            \"ipv4\": \"/192.168.0.15\",\n            \"location\": {\n                \"lat\": 51.5355157,\n                \"lng\": -0.06990350000000944,\n                \"unc\": 1.1185886512767726,\n                \"x\": [], \"y\": [] \n                \n            },\n            \"seenTime\": \"2016-07-29T13:17:10Z\",\n            \"ssid\": \".interwebs\",\n            \"os\": \"Debian-based Linux\",\n            \"clientMac\": \"CC:CC:CC:CC:CC:CC\",\n            \"seenEpoch\": 1469798230,\n            \"rssi\": 48,\n            \"ipv6\": null,\n            \"manufacturer\": \"Edimax Technology\" \n            }, \n            { \n            \"ipv4\": null,\n            \"location\": {\n                \"lat\": 51.5133157,\n                \"lng\": -0.06890350000000944,\n                \"unc\": 49, \"x\": [],\n                \"y\": []\n                },\n            \"seenTime\": \"2016-07-29T13:17:07Z\",\n            \"ssid\": \"Hotspot-123\",\n            \"os\": \"fancyOS\",\n            \"clientMac\": \"DD:DD:DD:DD:DD:DD\",\n            \"seenEpoch\": 1469798227,\n            \"rssi\": 9,\n            \"ipv6\": null,\n            \"manufacturer\": \"Samsung(THAILAND)\"\n            }\n        ]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":371.8333396911621,"y":340.33333015441895,"wires":[["94706057.f6d4","c77213e1.89203"]]},{"id":"21cb80be.e7f04","type":"inject","z":"a16cb8e.92cd148","name":"Sample Client C D","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":151.8333396911621,"y":340.33333015441895,"wires":[["2f9b33d8.d5710c"]]},{"id":"c77213e1.89203","type":"debug","z":"a16cb8e.92cd148","name":"CMX Sample Raw Data","active":false,"console":"false","complete":"payload","x":691.8333396911621,"y":340.33333015441895,"wires":[]},{"id":"6c628487.61722c","type":"mongodb2 in","z":"a16cb8e.92cd148","service":"_ext_","configNode":"693d0c77.754854","name":"","collection":"cmxmapapi","operation":"find.toArray","x":400,"y":580,"wires":[["126c41b1.c6aa0e"]]},{"id":"681b12e6.0e0f9c","type":"inject","z":"a16cb8e.92cd148","name":"List all clients","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":580,"wires":[["6c628487.61722c"]]},{"id":"126c41b1.c6aa0e","type":"debug","z":"a16cb8e.92cd148","name":"List mongo data","active":true,"console":"false","complete":"true","x":700,"y":580,"wires":[]},{"id":"fa5c0533.04c2e8","type":"comment","z":"a16cb8e.92cd148","name":"Client Front-end API","info":"","x":110,"y":820,"wires":[]},{"id":"17b08238.0b942e","type":"comment","z":"a16cb8e.92cd148","name":"Receive CMX Data","info":"","x":124.16669464111328,"y":197.91666412353516,"wires":[]},{"id":"98f306f4.b8e0f8","type":"comment","z":"a16cb8e.92cd148","name":"Database Utilities","info":"","x":103.2500228881836,"y":541.7500171661377,"wires":[]},{"id":"9977962c.272658","type":"function","z":"a16cb8e.92cd148","name":"CMX Sample Data","func":"msg.payload = {\n    \"version\": \"2.0\",\n    \"secret\": \"supersecret\",\n    \"type\": \"DevicesSeen\",\n    \"data\": {\n        \"apMac\": \"00:18:0a:13:dd:b0\",\n        \"apFloors\": [],\n        \"apTags\": [ \"\", \"home\", \"\" ],\n        \"observations\": [ { \n            \"ipv4\": \"/192.168.0.15\",\n            \"location\": {\n                \"lat\": 51.5155157,\n                \"lng\": -0.06590350000000944,\n                \"unc\": 1.2185886512767726,\n                \"x\": [], \"y\": [] \n                \n            },\n            \"seenTime\": \"2016-07-29T13:17:10Z\",\n            \"ssid\": \".interwebs\",\n            \"os\": \"Debian-based Linux\",\n            \"clientMac\": \"AA:AA:AA:AA:AA:AA\",\n            \"seenEpoch\": 1469795230,\n            \"rssi\": 48,\n            \"ipv6\": null,\n            \"manufacturer\": \"Edimax Technology\" \n            }, \n            { \n            \"ipv4\": null,\n            \"location\": {\n                \"lat\": 51.5215157,\n                \"lng\": -0.069905350000000944,\n                \"unc\": 49, \"x\": [],\n                \"y\": []\n                },\n            \"seenTime\": \"2016-07-29T13:17:07Z\",\n            \"ssid\": null,\n            \"os\": null,\n            \"clientMac\": \"BB:BB:BB:BB:BB:BB\",\n            \"seenEpoch\": 1469598227,\n            \"rssi\": 9,\n            \"ipv6\": null,\n            \"manufacturer\": \"Samsung(THAILAND)\"\n            }\n        ]\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":371.8333396911621,"y":300.33333015441895,"wires":[["94706057.f6d4"]]},{"id":"a1b7c4d.3210c38","type":"inject","z":"a16cb8e.92cd148","name":"Sample Client A B","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":151.8333396911621,"y":300.33333015441895,"wires":[["9977962c.272658"]]},{"id":"e3a4c6e2.54d998","type":"comment","z":"a16cb8e.92cd148","name":"Client Front-end Site - Websockets","info":"","x":160,"y":1020,"wires":[]},{"id":"668c2269.0ef5fc","type":"comment","z":"a16cb8e.92cd148","name":"README","info":"#Cisco Meraki CMX API - Demo Map\nThis Flow is an example of how to use the Cisco Meraki CMX\nJSON feed to store clients into a database and track them\non a Google map.\n\nThere are three major components\n- CMX Receier\n- Front-end API\n- Front-end Website (Google MAP)\n\n\n##CMX Receier -\nThe CMX Receiver utilizes the Node-RED CMX node to collect\nJSON data from a Cisco Meraki network. This feed is generally\nupdated within 2 minutes. There are two Sample Clients feeds\nthat can be used to test the flow.\n\nOnce the data has been received, the JSON is parsed and\ncommitted to a MongoDB. Please ensure your MongoDB is running\nfor this flow to work properly.\n\n\n##Front-end API - \nThere are two [GET] HTTP routes that provide access to the \ncollected client data. These will be used by the front-end \nwebsite to pull the client information for all or specific\nclients. Fun Fact: You can also use these routes with Postman\nor a standard browser to pull the data directly.\n\n##Front-end Website - \nThis will provide the webpage to view the Google map and \ntrack clients.\nThe website can be viewed at\n`http://yourserver:1880/cmxapimap`\n\n#Setup\n- Configure a Cisco Meraki network to post the CMX JSON to\nyour listening URL. Example: `http://yourserver:1880/cmx`\n\n- Install and configure MongoDB. Then update the MongoDB2 \nnodes within your flow to match the appropriate settings.\nExample: `mongodb://localhost:27017/test`\n\n- Insert Sample Client information by pressing the blue\nbuttons for each. Note, this will place the clients in London\nby default. Remove these clients if you do not want to \nconfuse your map centering\n\nMore information can be found on the Meraki Developers portal\nhttp://developers.meraki.com/tagged/Location\n\n\nThis flow was created by \nCory Guynn\nSystems Engineer\nCisco Meraki \n2016\n\nFor other fun IoT projects\nhttp://www.InternetOfLEGO.com\n\nMIT License. \n\n","x":397.50000762939453,"y":166.2500057220459,"wires":[]},{"id":"a49b90df.c009","type":"mongodb2 in","z":"a16cb8e.92cd148","service":"_ext_","configNode":"693d0c77.754854","name":"","collection":"cmxmapapi","operation":"removeMany","x":410,"y":620,"wires":[["ae90db59.0fadf8"]]},{"id":"3efa410.2104fc","type":"inject","z":"a16cb8e.92cd148","name":"DELETE all clients","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":620,"wires":[["a49b90df.c009"]]},{"id":"ae90db59.0fadf8","type":"debug","z":"a16cb8e.92cd148","name":"DELETE mongo data","active":true,"console":"false","complete":"true","x":680,"y":620,"wires":[]},{"id":"74b27bd6.ad0494","type":"http in","z":"a16cb8e.92cd148","name":"","url":"/map","method":"get","swaggerDoc":"","x":120,"y":1120,"wires":[["cd2bf817.0b4918"]]},{"id":"616a3b92.b3c304","type":"http response","z":"a16cb8e.92cd148","name":"","x":770,"y":1120,"wires":[]},{"id":"582fc0a8.385ba","type":"http request","z":"a16cb8e.92cd148","name":"UPDATE SERVER","method":"GET","url":"http://34.248.68.218:1880/clients/?type=Bluetooth","tls":"","x":346.24999237060547,"y":1174.9999828338623,"wires":[["e6b5bba7.179238"]]},{"id":"b3d874ec.406658","type":"websocket in","z":"a16cb8e.92cd148","name":"","server":"2261c613.84aa3a","client":"","x":136.24999237060547,"y":1174.9999828338623,"wires":[["582fc0a8.385ba"]]},{"id":"e2e5d9bb.e96958","type":"websocket out","z":"a16cb8e.92cd148","name":"","server":"2261c613.84aa3a","x":706.2499923706055,"y":1174.9999828338623,"wires":[]},{"id":"e6b5bba7.179238","type":"json","z":"a16cb8e.92cd148","name":"","x":526.2499923706055,"y":1174.9999828338623,"wires":[["e2e5d9bb.e96958","6af696ce.71ca08"]]},{"id":"6af696ce.71ca08","type":"debug","z":"a16cb8e.92cd148","name":"websocket","active":true,"console":"false","complete":"payload","x":706.2499923706055,"y":1214.9999828338623,"wires":[]},{"id":"69b34009.0db24","type":"template","z":"a16cb8e.92cd148","name":"Google Map - JS","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"(function ($) {\n\n\t\tfunction initialize() {\n\t\t  var myLatlng = new google.maps.LatLng(37.765062,-122.419694);\n\t\t  var mapOptions = {\n\t\t    zoom: 10,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t  var markers = [];\n\t\t  var bounds = new google.maps.LatLngBounds();\n\n          google.maps.InfoWindow.prototype.opened = false;\n\t\t  var infoWindow = new google.maps.InfoWindow({\n            content: \"\",\n            maxHeight: 200\n          });\n\t\t  var loc = window.location;\n          if (loc.protocol === \"https:\") {\n            newUri = \"wss:\";\n          } else {\n            newUri = \"ws:\";\n          }\n          newUri += \"//\" + loc.host + \"/ws/stations\";\n\t\t  \n\t\t  \n\t\t  var sock = new WebSocket(newUri);\n\t\t  sock.onopen = function(){ \n\t\t    console.log(\"Connected websocket\");\n\t\t    console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t    console.log(\"Ping sent..\");\n\t\t  };\n\t\t  sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t  sock.onmessage = function(evt){\n\t\t    var clients = JSON.parse(evt.data);\n    \t\t\tfor(var i = 0; i < clients.length; i++) {\n    \t\t\t    var client = clients[i];\n                    var marker = new google.maps.Marker({\n        \t\t\t    position: new google.maps.LatLng(client.lat,client.lng),\n        \t\t\t    map: map,\n        \t\t\t    animation: google.maps.Animation.DROP,\n        \t\t\t    title: client.name,\n        \t\t\t    client: client\n    \t\t\t    });\n    \t\t\t    \n    \t\t\t    console.log(\"adding marker: \"+client.name+\" Last Seen: \"+client.seenString)\n    \t\t\t    \n    \t\t\t    //extend the bounds to include each marker's position\n                    bounds.extend(marker.position);\n                    \n                    //add marker to all markers for use with cluster\n    \t\t\t    markers.push(marker); \n    \t\t\t    \n    \t\t\t    google.maps.event.addListener(marker, \"click\", function () {\n    \t\t\t        var info =\n                        \"<div class='content'>\"+\n                            \"<h4>Client: \"+marker.title+\"</h4>\"+\n                            \"<p>Type: \"+marker.client.type+\"</p>\"+  \n                            \"<p>Last Seen: \"+marker.client.lastSeen+\"</p>\"+ \n                            \"<p>Manufacturer: \"+marker.client.manufacturer+\"</p>\"+ \n                            \"(<a class='notify' href='#' data-msg='\" +\n                            marker.client.mac + \"'>Notify)</a>\"+\n                        \"</div>\"\n                        ;\n                        \n                        infoWindow.setContent(info);\n                        infoWindow.setPosition(marker.getPosition());\n                        infoWindow.open(map);\n    \t\t\t    });\n    \t\t\t    \n    \t\t\t}\n\t\t    //}\n\t\t\t\n\t\t\t//fit the map to marker cluster bounds, ignore if infoWindow is open\n\t\t\tif(!infoWindow.opened){\n               map.fitBounds(bounds);\n            }\n            \n\t\t\t\n\t\t\t// create marker cluster\n\t\t\tvar markerCluster = new MarkerClusterer(map, markers,\n                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});\n\t\t    \n\n\t\t    google.maps.event.addListener(markerCluster, \"mouseover\", function (mCluster) {    \n                \n                var clusterMarkers = mCluster.getMarkers();\n                var info = \"<div class='content'>\";\n                $.each(clusterMarkers, function(x, marker) {\n                    info+=\n                    \"<div>\"+\n                        \"<h4>Client: \"+marker.title+\"</h4>\"+\n                        \"<p>Type: \"+marker.client.type+\"</p>\"+  \n                        \"<p>Last Seen: \"+marker.client.seenString+\"</p>\"+ \n                        \"<p>Manufacturer: \"+marker.client.manufacturer+\"</p>\"+ \n                        \"(<a class='notify' href='#' data-msg='\" +\n                        marker.client.mac + \"'>Notify)</a>\"+\n                    \"</div>\"\n                });\n                info += \"</div>\"\n                infoWindow.setContent(info);\n                infoWindow.setPosition(mCluster.getCenter());\n                infoWindow.open(map);\n            });\n            \n                \n            google.maps.event.addListener(map, 'zoom_changed', function() { infoWindow.close() });\n\t\t  };\n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n\t\n\t$('#all').click(startLookupAll);\n\t$('#wifi').click(startLookupWiFi);\n\t$('#ble').click(startLookupBLE);\n\t\t\n\t$(document).on(\"click\", \".notify\", function (e) {\n        e.preventDefault();\n        var msg = $(this).data('msg');\n      \n      \n        $.post( \"/notify\", { \n                time: new Date(),\n                msg:msg\n            })\n            .done(function( response ) {\n                alert( \"Notification Sent: \" + response );\n        });      \n        \n    });\n// Call the initialize function when the window loads\n  $(window).load(initialize);\n}(jQuery));\n","x":330,"y":1120,"wires":[["8124151c.941438"]]},{"id":"180dfda6.c05fa2","type":"http in","z":"a16cb8e.92cd148","name":"","url":"/notify","method":"post","swaggerDoc":"","x":126.24999237060547,"y":1274.9999828338623,"wires":[["2c1ab2f7.64576e"]]},{"id":"cb773948.7aaac8","type":"http response","z":"a16cb8e.92cd148","name":"","x":726.2499923706055,"y":1274.9999828338623,"wires":[]},{"id":"2c1ab2f7.64576e","type":"function","z":"a16cb8e.92cd148","name":"Response Message","func":"var response = JSON.stringify(msg.req.body);\nmsg.payload = \"Success! \\n \"+response;\nreturn msg;","outputs":1,"noerr":0,"x":346.24999237060547,"y":1274.9999828338623,"wires":[["cb773948.7aaac8","d7101ae7.1db8a8"]]},{"id":"d7101ae7.1db8a8","type":"debug","z":"a16cb8e.92cd148","name":"notify - This could be a Task","active":true,"console":"false","complete":"payload","x":376.24999237060547,"y":1374.9999828338623,"wires":[]},{"id":"98f12be5.a12ff8","type":"Meraki CMX","z":"a16cb8e.92cd148","name":"/cmx Meraki Location API","url":"/cmx","settings":"ce53e011.75d8c","x":170,"y":240,"wires":[["94706057.f6d4","7640ba3b.e16774"]]},{"id":"89cb4ea1.b9576","type":"comment","z":"a16cb8e.92cd148","name":"Workflow Example","info":"","x":146.24999237060547,"y":1234.9999828338623,"wires":[]},{"id":"e29d409d.95925","type":"function","z":"a16cb8e.92cd148","name":"Format individual client","func":"var client = [];\nclient[0] = msg.payload.value;\n\n// discard invalid client data\nif(client[0].lat){\n    msg.payload = client;\n    return msg;\n}","outputs":1,"noerr":0,"x":606.2499923706055,"y":1054.9999828338623,"wires":[[]]},{"id":"828e73e0.dea36","type":"link out","z":"a16cb8e.92cd148","name":"New Observation","links":["dddeb1cd.04a17"],"x":615,"y":520,"wires":[]},{"id":"dddeb1cd.04a17","type":"link in","z":"a16cb8e.92cd148","name":"","links":["828e73e0.dea36"],"x":431.24999237060547,"y":1054.9999828338623,"wires":[["e29d409d.95925"]]},{"id":"acf1a260.39726","type":"comment","z":"a16cb8e.92cd148","name":"Lookup Clients (w/ filter support)","info":"","x":150,"y":880,"wires":[]},{"id":"e8dc75aa.84ab18","type":"mongodb2 in","z":"a16cb8e.92cd148","service":"_ext_","configNode":"693d0c77.754854","name":"","collection":"cmxmapapi","operation":"find.toArray","x":620,"y":940,"wires":[["ac0f04ab.6029e8","3e4b0f69.3b3e9"]]},{"id":"ac0f04ab.6029e8","type":"http response","z":"a16cb8e.92cd148","name":"","x":850,"y":940,"wires":[]},{"id":"3e4b0f69.3b3e9","type":"debug","z":"a16cb8e.92cd148","name":"find({})","active":true,"console":"false","complete":"payload","x":850,"y":1000,"wires":[]},{"id":"22f8ee54.4a0012","type":"function","z":"a16cb8e.92cd148","name":"README - Filter Options","func":"// Filter results based on query string\n\n\n\nfilter = msg.payload;\n\nif(filter.type){\n    // i.e. http://localhost:1880/clients/?type=Bluetooth\n    msg.payload = {'type':{$in:[filter.type]}};\n}else if(filter.mac){\n    // i.e. http://localhost:1880/clients/?mac=54:60:09:37:ff:ff\n    msg.payload = {'mac':{$in:[filter.mac]}};\n}else if(filter.seenString){\n    //http://localhost:1880/clients/?seenString=2017-03-18T16:41:42Z\n    msg.payload = {'seenString': {$gte: filter.seenString}};\n}else if(filter.apTags){\n    //http://localhost:1880/clients/?apTags=BLE\n    msg.payload = {'apTags':{$in:[filter.apTags]}};\n}else if(filter.manufacturer){\n    //http://localhost:1880/clients/?manufacturer=Apple\n    msg.payload = {'manufacturer':{$in:[filter.manufacturer]}}; \n}else if(filter.ssid){\n    //http://localhost:1880/clients/?ssid=GuestWiFi\n    msg.payload = {'ssid':{$in:[filter.ssid]}}; \n}else if(filter.ap){\n    //http://localhost:1880/clients/?ap=00:22:09:37:ff:ff\n    msg.payload = {'ap':{$in:[filter.ap]}}; \n}else{\n    //msg.payload = {};\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":940,"wires":[["e8dc75aa.84ab18"]]},{"id":"920e68b6.b4e538","type":"template","z":"a16cb8e.92cd148","name":"CSS","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"html, body {\n  margin: 0;\n  padding: 0;\n}\n\nbody {\n  font-family: \"proxima-nova-1\",\"proxima-nova-2\", \"Helvetica Neue\", Helvetica, verdana, sans-serif;\n  -webkit-font-smoothing: antialiased;\n}\n\n#masthead {\n  height: 125px;\n  width: 100%;\n  position: relative;\n  background: #FFFFFF;\n  border-top: 4px solid #78be20;\n  box-shadow: 0 2px 7px rgba(0,0,0,0.2);\n}\n\n#masthead-content {\n  margin: 0 auto;\n  position: relative;\n  width: 80%;\n  height: 100%;\n}\n\n#masthead-content img {\n  float: left;\n  margin: 32px;\n  width: 165px;\n  margin-left: 0;\n}\n\n#content {\n  width: 80%;\n  margin: 60px auto;\n  padding: 40px;\n  box-sizing: border-box;\n  border-radius: 9px;\n  background: #FAFAFA;\n}\n\n#mac-address {\n  margin-bottom: 10px;\n}\n\n#mac-field {\n  width: 30%;\n  height: 35px;\n  margin-bottom: 20px;\n  padding-left: 13px;\n  border: 1px solid #E6E6E6;\n  border-radius: 2px;\n  box-sizing: border-box;\n  font-family: \"proxima-nova-1\",\"proxima-nova-2\", \"Helvetica Neue\", Helvetica, verdana, sans-serif;\n  font-size: 16px;\n  font-weight: 100;\n  min-width: 136px;\n}\n\n#map-wrapper {\n  width: 100%;\n  height: 700px;\n}\n\n#map-canvas {\n  height: 70%;\n  width: 70%;\n}\n\n\nh1 {\n  color: #78be20;\n  font-weight: 100;\n  font-size: 38px;\n  margin-top: 0;\n  letter-spacing: -1px;\n}\n\n\n#last-mac {\n  color: #6B6B6B;\n  width: 100%;\n  font-weight: 400;\n  margin-bottom: 10px;\n  font-size: 14px;\n}\n\n.small {\n  color: #6B6B6B;\n  font-weight: 400;\n  margin-bottom: 30px;\n  font-size: 14px;\n}\n\n.bold {\n  font-weight: 600;\n}\n\nbutton, input {\n  width: 11%;\n}\n\nbutton {\n  height: 35px;\n  border: none;\n  background: #737373;\n  border-radius: 2px;\n  box-sizing: border-box;\n  color: white;\n  font-family: \"proxima-nova-1\",\"proxima-nova-2\", \"Helvetica Neue\", Helvetica, verdana, sans-serif;\n  font-weight: 200;\n  font-size: 14px;\n  padding: 0;\n  min-width: 70px;\n}\n\nbutton:hover{\n  background: #616060;\n}\n","x":450,"y":1500,"wires":[["18cff0cf.79e81f"]]},{"id":"8fb52768.977518","type":"template","z":"a16cb8e.92cd148","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"(function ($) {\n  var map,                                      // This is the Google map\n    clientMarker,                               // The current marker when we are following a single client\n    clientUncertaintyCircle,                    // The circle describing that client's location uncertainty\n    lastEvent,                                  // The last scheduled polling task\n    lastInfoWindowMac,                          // The last Mac displayed in a marker tooltip\n    allMarkers = [],                            // The markers when we are in \"View All\" mode\n    lastMac = \"\",                               // The last requested MAC to follow\n    infoWindow = new google.maps.InfoWindow();  // The marker tooltip\n    /*\n    ,\n    markerImage = new google.maps.MarkerImage('blue_circle.png',\n      new google.maps.Size(15, 15),\n      new google.maps.Point(0, 0),\n      new google.maps.Point(4.5, 4.5)\n    );\n    */\n    \n    var latlngbounds = new google.maps.LatLngBounds();\n\n  // Removes all markers\n  function clearAll() {\n    clientMarker.setMap(null);\n    clientUncertaintyCircle.setMap(null);\n    lastInfoWindowMac = \"\";\n    var m;\n    while (allMarkers.length !== 0) {\n      m = allMarkers.pop();\n      if (infoWindow.anchor === m) {\n        lastInfoWindowMac = m.mac;\n      }\n      m.setMap(null);\n    }\n  }\n\n  // Plots the location and uncertainty for a single MAC address\n  function track(client) {\n    clearAll();\n    if (client !== undefined && client.lat !== undefined && !(typeof client.lat === 'undefined')) {\n      var pos = new google.maps.LatLng(client.lat, client.lng);\n      console.log('track client pos '+pos);\n      if (client.manufacturer !== undefined) {\n        mfrStr = client.manufacturer + \" \";\n      } else {\n        mfrStr = \"\";\n      }\n      if (client.os !== undefined) {\n        osStr = \" running \" + client.os;\n      } else {\n        osStr = \"\";\n      }\n      if (client.ssid !== undefined) {\n        ssidStr = \" with SSID '\" + client.ssid + \"'\";\n      } else {\n        ssidStr = \"\";\n      }\n      if (client.floors !== undefined && client.floors !== \"\") {\n        floorStr = \" at '\" + client.floors + \"'\"\n      } else {\n        floorStr = \"\";\n      }\n      $('#last-mac').text(mfrStr + \"'\" + lastMac + \"'\" + osStr + ssidStr +\n        \" last seen on \" + client.seenString + floorStr +\n        \" with uncertainty \" + client.unc.toFixed(1) + \" meters (reloading every 20 seconds)\");\n      map.setCenter(pos);\n      clientMarker.setMap(map);\n      clientMarker.setPosition(pos);\n      clientUncertaintyCircle = new google.maps.Circle({\n        map: map,\n        center: pos,\n        radius: client.unc,\n        fillColor: 'RoyalBlue',\n        fillOpacity: 0.25,\n        strokeColor: 'RoyalBlue',\n        strokeWeight: 1\n      });\n    } else {\n      $('#last-mac').text(\"Client '\" + lastMac + \"' could not be found\");\n    }\n  }\n\n  // Looks up a single MAC address\n  function lookup(mac) {\n    $.getJSON('/clients/' + mac, function (response) {\n      track(response);\n    });\n  }\n\n  // Adds a marker for a single client within the \"view all\" perspective\n  function addMarker(client) {\n    var pos = new google.maps.LatLng(client.lat, client.lng);\n    console.log('addMarker pos '+pos);\n    var m = new google.maps.Marker({\n      position: pos,\n      map: map,\n      mac: client.mac,\n      //icon: markerImage\n    });\n    \n    if(client.lat){\n        latlngbounds.extend(pos);\n        map.fitBounds(latlngbounds);\n    }\n    google.maps.event.addListener(m, 'click', function () {\n        //build info\n        var htmlString = '<h2>Client:  '+client.name +'</h2>';\n        \n        for (var key in client) {\n            if (client.hasOwnProperty(key)) {\n                if(client[key] !== undefined){\n                    if(key == '_id' || key == 'name'){continue}\n                    htmlString += '<p>'+key+' : '+client[key]+'</p>';\n                }\n            }\n        }\n        \n        infoWindow.setContent(\"<div>\" + htmlString + \"</div>\" + \"(<a class='client-filter' href='#' data-mac='\" +\n        client.mac + \"'>Follow this client)</a>\");\n        //\n      //infoWindow.setContent(\"<div>\" + client.mac + \"</div> (<a class='client-filter' href='#' data-mac='\" +\n        //client.mac + \"'>Follow this client)</a>\");\n        \n      infoWindow.open(map, m);\n    });\n    if (client.mac === lastInfoWindowMac) {\n      infoWindow.open(map, m);\n    }\n    allMarkers.push(m);\n  }\n\n  // Displays markers for all clients\n  function trackAll(clients) {\n    clearAll();\n    if (clients.length === 0) {\n      $('#last-mac').text(\"Found no clients (if you just started the web server, you may need to wait a few minutes to receive pushes from Meraki)\");\n    } else { $('#last-mac').text(\"Found \" + clients.length + \" clients (reloading every 20 seconds)\"); }\n    clientUncertaintyCircle.setMap(null);\n    clients.forEach(addMarker);\n  }\n\n  // Looks up all MAC addresses\n  function lookupAll() {\n    $('#last-mac').text(\"Looking up all clients...\");\n    $.getJSON('/clients/', function (response) {\n      trackAll(response);\n    });\n  }\n\n  // Begins a task timer to reload a single MAC every 20 seconds\n  function startLookup() {\n    lastMac = $('#mac-field').val().trim();\n    if (lastEvent !== null) { window.clearInterval(lastEvent); }\n    lookup(lastMac);\n    lastEvent = window.setInterval(lookup, 20000, lastMac);\n  }\n\n  // Begins a task timer to reload all MACs every 20 seconds\n  function startLookupAll() {\n    if (lastEvent !== null) { window.clearInterval(lastEvent); }\n    lastEvent = window.setInterval(lookupAll, 20000);\n    lookupAll();\n  }\n\n  // This is called after the DOM is loaded, so we can safely bind all the\n  // listeners here.\n  function initialize() {\n    var center = new google.maps.LatLng(37.7705, -122.3870);\n    var mapOptions = {\n      zoom: 20,\n      center: center\n    };\n    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n    clientMarker = new google.maps.Marker({\n      position: center,\n      map: null,\n      //icon: markerImage\n    });\n    clientUncertaintyCircle = new google.maps.Circle({\n      position: center,\n      map: null\n    });\n\n    $('#track').click(startLookup).bind(\"enterKey\", startLookup);\n\n    $('#all').click(startLookupAll);\n\n    $(document).on(\"click\", \".client-filter\", function (e) {\n      e.preventDefault();\n      var mac = $(this).data('mac');\n      $('#mac-field').val(mac);\n      startLookup();\n    });\n\n    startLookupAll();\n  }\n\n  // Call the initialize function when the window loads\n  $(window).load(initialize);\n}(jQuery));","x":290,"y":1500,"wires":[["920e68b6.b4e538"]]},{"id":"c3956c81.21fe2","type":"http in","z":"a16cb8e.92cd148","name":"","url":"/cmxapimap","method":"get","swaggerDoc":"","x":120,"y":1500,"wires":[["8fb52768.977518"]]},{"id":"42b239d3.088a08","type":"http response","z":"a16cb8e.92cd148","name":"","x":730,"y":1500,"wires":[]},{"id":"18cff0cf.79e81f","type":"template","z":"a16cb8e.92cd148","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>CMX push API demo app with Node-RED</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script>TypekitConfig={kitId:\"hum1oye\",scriptTimeout:1.5e3},function(){var a=document.getElementsByTagName(\"html\")[0];a.className+=\" wf-loading\";var b=setTimeout(function(){a.className=a.className.replace(/(\\s|^)wf-loading(\\s|$)/g,\"\"),a.className+=\" wf-inactive\"},TypekitConfig.scriptTimeout),c=document.createElement(\"script\");c.src=\"//use.typekit.com/\"+TypekitConfig.kitId+\".js\",c.type=\"text/javascript\",c.async=\"true\",c.onload=c.onreadystatechange=function(){var a=this.readyState;if(!a||a==\"complete\"||a==\"loaded\"){clearTimeout(b);try{Typekit.load(TypekitConfig)}catch(c){}}};var d=document.getElementsByTagName(\"script\")[0];d.parentNode.insertBefore(c,d)}()</script>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCWFVfLzjGaepofBse9sHFF-S-mtqVjzLA\"></script>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <script>{{{payload.script}}}</script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  <body>\n    <div id=\"masthead\">\n      <div id=\"masthead-content\">\n        <img src=\"https://meraki.cisco.com/img/cisco-meraki.png\"/>\n      </div>\n    </div>\n    <div id=\"content\">\n      <h1>CMX API Demo with Node-RED</h1>\n      <div id=\"mac-address\">\n        <input id=\"mac-field\" type=\"text\" placeholder=\"Enter MAC address\" />&nbsp;\n        <button id=\"track\">Follow</button>&nbsp;\n        <button id=\"all\">View All</button>\n        <button><a href=/clients target=\"_blank\" style=\"text-decoration:none; color: inherit\">View All - JSON</a></button>\n      </div>\n      <div id=\"last-mac\"></div>\n      <div class=\"small\"><span class=\"bold\">Clients in the wrong place?</span> Make sure your APs are placed properly in Dashboard.</div>\n      <div id=\"map-wrapper\">\n        <div id=\"map-canvas\"></div>\n      </div>\n    </div>\n  </body>\n</html>","x":590,"y":1500,"wires":[["42b239d3.088a08"]]},{"id":"20d3b79a.e58f28","type":"comment","z":"a16cb8e.92cd148","name":"Client Front-end Site - Legacy","info":"","x":140,"y":1460,"wires":[]},{"id":"8124151c.941438","type":"template","z":"a16cb8e.92cd148","name":"CSS","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"html, body {\n  margin: 0;\n  padding: 0;\n}\n\nbody {\n  font-family: \"proxima-nova-1\",\"proxima-nova-2\", \"Helvetica Neue\", Helvetica, verdana, sans-serif;\n  -webkit-font-smoothing: antialiased;\n}\n\n#masthead {\n  height: 125px;\n  width: 100%;\n  position: relative;\n  background: #FFFFFF;\n  border-top: 4px solid #78be20;\n  box-shadow: 0 2px 7px rgba(0,0,0,0.2);\n}\n\n#masthead-content {\n  margin: 0 auto;\n  position: relative;\n  width: 80%;\n  height: 100%;\n}\n\n#masthead-content img {\n  float: left;\n  margin: 32px;\n  width: 165px;\n  margin-left: 0;\n}\n\n#content {\n  width: 80%;\n  margin: 60px auto;\n  padding: 40px;\n  box-sizing: border-box;\n  border-radius: 9px;\n  background: #FAFAFA;\n}\n\n#mac-address {\n  margin-bottom: 10px;\n}\n\n#mac-field {\n  width: 30%;\n  height: 35px;\n  margin-bottom: 20px;\n  padding-left: 13px;\n  border: 1px solid #E6E6E6;\n  border-radius: 2px;\n  box-sizing: border-box;\n  font-family: \"proxima-nova-1\",\"proxima-nova-2\", \"Helvetica Neue\", Helvetica, verdana, sans-serif;\n  font-size: 16px;\n  font-weight: 100;\n  min-width: 136px;\n}\n\n#map-wrapper {\n  width: 100%;\n  height: 700px;\n}\n\n#map-canvas {\n  height: 70%;\n  width: 70%;\n}\n\n\nh1 {\n  color: #78be20;\n  font-weight: 100;\n  font-size: 38px;\n  margin-top: 0;\n  letter-spacing: -1px;\n}\n\n\n#last-mac {\n  color: #6B6B6B;\n  width: 100%;\n  font-weight: 400;\n  margin-bottom: 10px;\n  font-size: 14px;\n}\n\n.small {\n  color: #6B6B6B;\n  font-weight: 400;\n  margin-bottom: 30px;\n  font-size: 14px;\n}\n\n.bold {\n  font-weight: 600;\n}\n\nbutton, input {\n  width: 11%;\n}\n\nbutton {\n  height: 35px;\n  border: none;\n  background: #737373;\n  border-radius: 2px;\n  box-sizing: border-box;\n  color: white;\n  font-family: \"proxima-nova-1\",\"proxima-nova-2\", \"Helvetica Neue\", Helvetica, verdana, sans-serif;\n  font-weight: 200;\n  font-size: 14px;\n  padding: 0;\n  min-width: 70px;\n}\n\nbutton:hover{\n  background: #616060;\n}\n","x":510,"y":1120,"wires":[["947763a7.8c6f8"]]},{"id":"947763a7.8c6f8","type":"template","z":"a16cb8e.92cd148","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>CMX push API demo app with Node-RED</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script>TypekitConfig={kitId:\"hum1oye\",scriptTimeout:1.5e3},function(){var a=document.getElementsByTagName(\"html\")[0];a.className+=\" wf-loading\";var b=setTimeout(function(){a.className=a.className.replace(/(\\s|^)wf-loading(\\s|$)/g,\"\"),a.className+=\" wf-inactive\"},TypekitConfig.scriptTimeout),c=document.createElement(\"script\");c.src=\"//use.typekit.com/\"+TypekitConfig.kitId+\".js\",c.type=\"text/javascript\",c.async=\"true\",c.onload=c.onreadystatechange=function(){var a=this.readyState;if(!a||a==\"complete\"||a==\"loaded\"){clearTimeout(b);try{Typekit.load(TypekitConfig)}catch(c){}}};var d=document.getElementsByTagName(\"script\")[0];d.parentNode.insertBefore(c,d)}()</script>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCWFVfLzjGaepofBse9sHFF-S-mtqVjzLA\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/markerclustererplus/2.1.4/markerclusterer.min.js\"></script>\n        <script src=\"https://code.jquery.com/jquery-3.2.0.min.js\"\n      integrity=\"sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=\"\n      crossorigin=\"anonymous\"></script>\n    <script>{{{payload.script}}}</script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  <body>\n    <div id=\"masthead\">\n      <div id=\"masthead-content\">\n        <img src=\"https://meraki.cisco.com/img/cisco-meraki.png\"/>\n      </div>\n    </div>\n    <div id=\"content\">\n      <h1>CMX API Demo with Node-RED</h1>\n      <div id=\"mac-address\">\n        <input id=\"mac-field\" type=\"text\" placeholder=\"Enter MAC address\" />&nbsp;\n        <button id=\"track\">Follow</button>&nbsp;\n        <button id=\"all\">View All</button>\n        <button id=\"ble\">Bluetooth Only</button>\n        <button id=\"wifi\">WiFi Only</button>\n        <button><a href=/clients target=\"_blank\" style=\"text-decoration:none; color: inherit\">View All - JSON</a></button>\n      </div>\n      <div id=\"last-mac\"></div>\n      <div class=\"small\"><span class=\"bold\">Clients in the wrong place?</span> Make sure your APs are placed properly in Dashboard.</div>\n      <div id=\"map-wrapper\">\n        <div id=\"map-canvas\"></div>\n      </div>\n    </div>\n  </body>\n</html>","x":650,"y":1120,"wires":[["616a3b92.b3c304"]]},{"id":"7a12cef4.c9d38","type":"http in","z":"a16cb8e.92cd148","name":"","url":"/mapBACKUP","method":"get","swaggerDoc":"","x":170,"y":1760,"wires":[["c0c3add3.b687"]]},{"id":"6074a53c.17aa6c","type":"http response","z":"a16cb8e.92cd148","name":"","x":750,"y":1760,"wires":[]},{"id":"c0c3add3.b687","type":"template","z":"a16cb8e.92cd148","name":"Google Map","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>Meraki Location API</title>\n    <style>\n      html, body, #map-canvas {\n        height: 100%;\n        margin: 0px;\n        padding: 0px;\n      }\n      \n      .content {\n        margin: 20px;\n        padding: 10px;\n      }\n      .gm-style-iw{\n        max-height: 400;\n        margin: 10px;\n    }\n    </style>\n    <script src=\"https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCWFVfLzjGaepofBse9sHFF-S-mtqVjzLA\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/markerclustererplus/2.1.4/markerclusterer.min.js\"></script>\n    <script src=\"https://code.jquery.com/jquery-3.2.0.min.js\"\n      integrity=\"sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=\"\n      crossorigin=\"anonymous\"></script>\n    <script id=\"contentTemplate\" type=\"x-tmpl-mustache\">\n     <div class='info'>  {{{ iwContent }}} </div>\n    </script>\n    <script>\n\t\tfunction initialize() {\n\t\t  var myLatlng = new google.maps.LatLng(37.765062,-122.419694);\n\t\t  var mapOptions = {\n\t\t    zoom: 10,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t  var markers = [];\n\t\t  var bounds = new google.maps.LatLngBounds();\n\n          google.maps.InfoWindow.prototype.opened = false;\n\t\t  var infoWindow = new google.maps.InfoWindow({\n            content: \"\",\n            maxHeight: 200\n          });\n\t\t  var loc = window.location;\n          if (loc.protocol === \"https:\") {\n            newUri = \"wss:\";\n          } else {\n            newUri = \"ws:\";\n          }\n          newUri += \"//\" + loc.host + \"/ws/stations\";\n\t\t  \n\t\t  \n\t\t  var sock = new WebSocket(newUri);\n\t\t  sock.onopen = function(){ \n\t\t    console.log(\"Connected websocket\");\n\t\t    console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t    console.log(\"Ping sent..\");\n\t\t  };\n\t\t  sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t  sock.onmessage = function(evt){\n\t\t    var clients = JSON.parse(evt.data);\n    \t\t\tfor(var i = 0; i < clients.length; i++) {\n    \t\t\t    var client = clients[i];\n                    var marker = new google.maps.Marker({\n        \t\t\t    position: new google.maps.LatLng(client.lat,client.lng),\n        \t\t\t    map: map,\n        \t\t\t    animation: google.maps.Animation.DROP,\n        \t\t\t    title: client.name,\n        \t\t\t    client: client\n    \t\t\t    });\n    \t\t\t    \n    \t\t\t    console.log(\"adding marker: \"+client.name+\" Last Seen: \"+client.seenString)\n    \t\t\t    \n    \t\t\t    //extend the bounds to include each marker's position\n                    bounds.extend(marker.position);\n                    \n                    //add marker to all markers for use with cluster\n    \t\t\t    markers.push(marker); \n    \t\t\t    \n    \t\t\t    google.maps.event.addListener(marker, \"click\", function () {\n    \t\t\t        var info =\n                        \"<div class='content'>\"+\n                            \"<h4>Client: \"+marker.title+\"</h4>\"+\n                            \"<p>Type: \"+marker.client.type+\"</p>\"+  \n                            \"<p>Last Seen: \"+marker.client.lastSeen+\"</p>\"+ \n                            \"<p>Manufacturer: \"+marker.client.manufacturer+\"</p>\"+ \n                            \"(<a class='notify' href='#' data-msg='\" +\n                            marker.client.mac + \"'>Notify)</a>\"+\n                        \"</div>\"\n                        ;\n                        \n                        infoWindow.setContent(info);\n                        infoWindow.setPosition(marker.getPosition());\n                        infoWindow.open(map);\n    \t\t\t    });\n    \t\t\t    \n    \t\t\t}\n\t\t    //}\n\t\t\t\n\t\t\t//fit the map to marker cluster bounds, ignore if infoWindow is open\n\t\t\tif(!infoWindow.opened){\n               map.fitBounds(bounds);\n            }\n            \n\t\t\t\n\t\t\t// create marker cluster\n\t\t\tvar markerCluster = new MarkerClusterer(map, markers,\n                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});\n\t\t    \n\n\t\t    google.maps.event.addListener(markerCluster, \"mouseover\", function (mCluster) {    \n                \n                var clusterMarkers = mCluster.getMarkers();\n                var info = \"<div class='content'>\";\n                $.each(clusterMarkers, function(x, marker) {\n                    info+=\n                    \"<div>\"+\n                        \"<h4>Client: \"+marker.title+\"</h4>\"+\n                        \"<p>Type: \"+marker.client.type+\"</p>\"+  \n                        \"<p>Last Seen: \"+marker.client.seenString+\"</p>\"+ \n                        \"<p>Manufacturer: \"+marker.client.manufacturer+\"</p>\"+ \n                        \"(<a class='notify' href='#' data-msg='\" +\n                        marker.client.mac + \"'>Notify)</a>\"+\n                    \"</div>\"\n                });\n                info += \"</div>\"\n                infoWindow.setContent(info);\n                infoWindow.setPosition(mCluster.getCenter());\n                infoWindow.open(map);\n            });\n            \n                \n            google.maps.event.addListener(map, 'zoom_changed', function() { infoWindow.close() });\n\t\t  };\n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n\t\t\n\t$(document).on(\"click\", \".notify\", function (e) {\n        e.preventDefault();\n        var msg = $(this).data('msg');\n      \n      \n        $.post( \"/notify\", { \n                time: new Date(),\n                msg:msg\n            })\n            .done(function( response ) {\n                alert( \"Notification Sent: \" + response );\n        });      \n        \n    });\n\n    </script>\n  </head>\n  <body>\n    <div id=\"map-canvas\"></div>\n  </body>\n</html>","x":350,"y":1760,"wires":[["6074a53c.17aa6c"]]},{"id":"cd2bf817.0b4918","type":"template","z":"a16cb8e.92cd148","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"(function ($) {\n  var map,                                      // This is the Google map\n    clientMarker,                               // The current marker when we are following a single client\n    clientUncertaintyCircle,                    // The circle describing that client's location uncertainty\n    lastEvent,                                  // The last scheduled polling task\n    lastInfoWindowMac,                          // The last Mac displayed in a marker tooltip\n    allMarkers = [],                            // The markers when we are in \"View All\" mode\n    lastMac = \"\",                               // The last requested MAC to follow\n    infoWindow = new google.maps.InfoWindow();  // The marker tooltip\n    /*\n    ,\n    markerImage = new google.maps.MarkerImage('blue_circle.png',\n      new google.maps.Size(15, 15),\n      new google.maps.Point(0, 0),\n      new google.maps.Point(4.5, 4.5)\n    );\n    */\n    \n    var latlngbounds = new google.maps.LatLngBounds();\n\n  // Removes all markers\n  function clearAll() {\n    clientMarker.setMap(null);\n    clientUncertaintyCircle.setMap(null);\n    lastInfoWindowMac = \"\";\n    var m;\n    while (allMarkers.length !== 0) {\n      m = allMarkers.pop();\n      if (infoWindow.anchor === m) {\n        lastInfoWindowMac = m.mac;\n      }\n      m.setMap(null);\n    }\n  }\n\n  // Plots the location and uncertainty for a single MAC address\n  function track(client) {\n      client = client[0];\n      console.log(\"tracking client lat,lng: \"+client.lat+\",\"+client.lng + JSON.stringify(client));\n    clearAll();\n    if (client !== undefined && client.lat !== undefined && !(typeof client.lat === 'undefined')) {\n      var pos = new google.maps.LatLng(client.lat, client.lng);\n      console.log('track client pos '+pos);\n      if (client.manufacturer !== undefined) {\n        mfrStr = client.manufacturer + \" \";\n      } else {\n        mfrStr = \"\";\n      }\n      if (client.os !== undefined) {\n        osStr = \" running \" + client.os;\n      } else {\n        osStr = \"\";\n      }\n      if (client.ssid !== undefined) {\n        ssidStr = \" with SSID '\" + client.ssid + \"'\";\n      } else {\n        ssidStr = \"\";\n      }\n      if (client.floors !== undefined && client.floors !== \"\") {\n        floorStr = \" at '\" + client.floors + \"'\"\n      } else {\n        floorStr = \"\";\n      }\n      $('#last-mac').text(mfrStr + \"'\" + lastMac + \"'\" + osStr + ssidStr +\n        \" last seen on \" + client.seenString + floorStr +\n        \" with uncertainty \" + client.unc.toFixed(1) + \" meters (reloading every 20 seconds)\");\n      map.setCenter(pos);\n      clientMarker.setMap(map);\n      clientMarker.setPosition(pos);\n      clientUncertaintyCircle = new google.maps.Circle({\n        map: map,\n        center: pos,\n        radius: client.unc,\n        fillColor: 'RoyalBlue',\n        fillOpacity: 0.25,\n        strokeColor: 'RoyalBlue',\n        strokeWeight: 1\n      });\n    } else {\n      $('#last-mac').text(\"Client '\" + lastMac + \"' could not be found\");\n    }\n  }\n\n\n  \n  \n\n\n  // Adds a marker for a single client within the \"view all\" perspective\n  function addMarker(client) {\n    var marker = new google.maps.Marker({\n\t    position: new google.maps.LatLng(client.lat,client.lng),\n\t    map: map,\n\t    animation: google.maps.Animation.DROP,\n\t    title: client.name,\n\t    client: client\n    });\n    \n    console.log(\"adding marker: \"+client.name+\" Last Seen: \"+client.seenString)\n    \n    //extend the bounds to include each marker's position\n    latlngbounds.extend(marker.position);\n    \n    //add marker to all markers for use with cluster\n    allMarkers.push(marker); \n    \n    google.maps.event.addListener(marker, \"click\", function () {\n        var info =\n        \"<div class='content'>\"+\n            \"<h4>Client: \"+marker.title+\"</h4>\"+\n            \"<p>Type: \"+marker.client.type+\"</p>\"+  \n            \"<p>Last Seen: \"+marker.client.lastSeen+\"</p>\"+ \n            \"<p>Manufacturer: \"+marker.client.manufacturer+\"</p>\"+ \n            \"(<a class='notify' href='#' data-msg='\" +\n            marker.client.mac + \"'>Notify)</a>\"+\n        \"</div>\"\n        ;\n        \n        infoWindow.setContent(info);\n        infoWindow.setPosition(marker.getPosition());\n        infoWindow.open(map);\n    });\n    \n}\n\nfunction createCluster(){\n    //fit the map to marker cluster bounds, ignore if infoWindow is open\n   map.fitBounds(latlngbounds);\n    \n    \n\t// create marker cluster\n\tvar markerCluster = new MarkerClusterer(map, allMarkers,\n        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});\n    \n    google.maps.event.addListener(markerCluster, \"mouseover\", function (mCluster) {    \n        \n        var clusterMarkers = mCluster.getMarkers();\n        var info = \"<div class='content'>\";\n        $.each(clusterMarkers, function(x, marker) {\n            info+=\n            \"<div>\"+\n                \"<h4>Client: \"+marker.title+\"</h4>\"+\n                \"<p>Type: \"+marker.client.type+\"</p>\"+  \n                \"<p>Last Seen: \"+marker.client.seenString+\"</p>\"+ \n                \"<p>Manufacturer: \"+marker.client.manufacturer+\"</p>\"+ \n                \"(<a class='notify' href='#' data-msg='\" +\n                marker.client.mac + \"'>Notify)</a>\"+\n            \"</div>\"\n        });\n        info += \"</div>\"\n        infoWindow.setContent(info);\n        infoWindow.setPosition(mCluster.getCenter());\n        infoWindow.open(map);\n    });\n\n}\n\n  // Displays markers for all clients\n  function trackAll(clients) {\n    clearAll();\n    if (clients.length === 0) {\n      $('#last-mac').text(\"Found no clients (if you just started the web server, you may need to wait a few minutes to receive pushes from Meraki)\");\n    } else { $('#last-mac').text(\"Found \" + clients.length + \" clients (reloading every 20 seconds)\"); }\n    clientUncertaintyCircle.setMap(null);\n    clients.forEach(addMarker);\n    createCluster();\n  }\n  \n  // Looks up a single MAC address\n   function lookup(mac) {\n    $.getJSON('/clients/?mac=' + mac, function (response) {\n      track(response);\n    });\n  }\n\n  // Looks up all MAC addresses\n  function lookupAll() {\n    $('#last-mac').text(\"Looking up all clients...\");\n    $.getJSON('/clients/', function (response) {\n      trackAll(response);\n    });\n  }\n    // Looks up all MAC addresses\n  function lookupBLE() {\n    $('#last-mac').text(\"Looking up all Bluetooth clients...\");\n    $.getJSON('/clients/?type=Bluetooth', function (response) {\n      trackAll(response);\n    });\n  }\n  \n  // Looks up all MAC addresses\n  function lookupWiFi() {\n    $('#last-mac').text(\"Looking up all WiFi clients...\");\n    $.getJSON('/clients/?type=WiFi', function (response) {\n      trackAll(response);\n    });\n  }\n  \n  // Dynamic filter lookup - NOT IN USE YET\n    function filterLookup(filter,data){\n      $.getJSON('/clients/&'+filter+'='+data, function (response){\n          trackAll(response);\n      });\n          \n  }\n\n  // Begins a task timer to reload a single MAC every 20 seconds\n  function startLookup() {\n    lastMac = $('#mac-field').val().trim();\n    if (lastEvent !== null) { window.clearInterval(lastEvent); }\n    lookup(lastMac);\n    lastEvent = window.setInterval(lookup, 20000, lastMac);\n  }\n  \n  // INSERT FILTER LOGIC HERE\n  /*\n  function filterLookup() {\n    var filter = $('#filter-field').val().trim();\n    var data = $('#filter-field').val().trim();\n    if (lastEvent !== null) { window.clearInterval(lastEvent); }\n    lookup(lastMac);\n    lastEvent = window.setInterval(lookup, 20000, lastMac);\n  }\n  */\n  \n  // Begins a task timer to reload all MACs every 20 seconds\n  function startLookupAll() {\n    if (lastEvent !== null) { window.clearInterval(lastEvent); }\n    lastEvent = window.setInterval(lookupAll, 20000);\n    lookupAll();\n  }\n  // Begins a task timer to reload all MACs every 20 seconds\n  function startLookupBLE() {\n    if (lastEvent !== null) { window.clearInterval(lastEvent); }\n    lastEvent = window.setInterval(lookupBLE, 20000);\n    lookupBLE();\n  }\n    // Begins a task timer to reload all MACs every 20 seconds\n  function startLookupWiFi() {\n    if (lastEvent !== null) { window.clearInterval(lastEvent); }\n    lastEvent = window.setInterval(lookupWiFi, 20000);\n    lookupWiFi();\n  }\n\n  // This is called after the DOM is loaded, so we can safely bind all the\n  // listeners here.\n  function initialize() {\n    var center = new google.maps.LatLng(37.7705, -122.3870);\n    var mapOptions = {\n      zoom: 20,\n      center: center\n    };\n    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n    \n    clientMarker = new google.maps.Marker({\n      position: center,\n      map: null,\n      //icon: markerImage\n    });\n    clientUncertaintyCircle = new google.maps.Circle({\n      position: center,\n      map: null\n    });\n\n    $('#track').click(startLookup).bind(\"enterKey\", startLookup);\n    $('#all').click(startLookupAll);\n    $('#wifi').click(startLookupWiFi);\n\t$('#ble').click(startLookupBLE);\n\n    $(document).on(\"click\", \".client-filter\", function (e) {\n      e.preventDefault();\n      var mac = $(this).data('mac');\n      $('#mac-field').val(mac);\n      startLookup();\n    });\n\n    startLookupAll();\n  }\n\n  // Call the initialize function when the window loads\n  $(window).on('load', initialize);\n}(jQuery));","x":310,"y":1080,"wires":[["8124151c.941438"]]}]